/* HTML */
html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
  height: 100%;
}

/* Body */
body {
  font-family: var(--font-family-text), sans-serif;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--text-color);
  background-color: var(--bg-color);
  height: 100%;
  /* Headings */
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: var(--font-family-title), sans-serif;
}
body {
  /* Heading sizes */
}
body h1 {
  font-size: var(--font-size-h1);
}
body h2 {
  font-size: var(--font-size-h2);
}
body h3 {
  font-size: var(--font-size-h3);
}
body h4 {
  font-size: var(--font-size-h4);
}
body h5 {
  font-size: var(--font-size-h5);
}
body h6 {
  font-size: var(--font-size-h6);
}
body button, body a {
  font-family: var(--font-family-text), sans-serif;
}
body {
  /* Links */
}
body a {
  color: inherit;
  text-decoration: none;
}
body {
  /* Text selection */
}
body ::selection {
  background-color: var(--primary-color);
  color: var(--text-on-primary);
  -webkit-text-fill-color: var(--text-on-primary);
}
