{% extends 'base.html.twig' %}

{% block title %}Hello TabController!{% endblock %}

{% block body %}
    <div class="container-sm">
        <div class="d-flex fd-column gap-5">

            {# Intro #}
            <div class="card p-2">
                <div class="card-header">
                    <h2>🗂️ Tabs</h2>
                </div>
                <div class="card-body">
                    <p>
                        Tabs allow users to switch between different sections of content without leaving the page.
                        They organise information into clear, accessible panels and make navigation faster and more
                        efficient. Use tabs when you need to group related content while keeping the interface clean
                        and compact.
                    </p>
                </div>
            </div>

            {# Tabs #}
            <div class="card p-2">
                <div class="card-header">
                    <h2>💠 Tab examples</h2>
                </div>
                <div class="card-body">
                    <!--Tab-button-->
                    <div class="tab">
                        <button class="tab-btn btn-primary active" type="button" data-js="tab" data-target="#tab-1">Tab 1</button>
                        <button class="tab-btn btn-primary" type="button" data-js="tab" data-target="#tab-2">Tab 2</button>
                        <button class="tab-btn btn-primary" type="button" data-js="tab" data-target="#tab-3">Tab 3</button>
                        <button class="tab-btn btn-primary" type="button" data-js="tab" data-target="#tab-4">Tab 4</button>
                        <button class="tab-btn btn-primary" type="button" data-js="tab" data-target="#tab-5">Tab 5</button>
                    </div>

                    <!--Tab-content-->
                    <div class="tab-content show" id="tab-1">
                        <h3>Tab 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, facere.</p>
                    </div>

                    <!--Tab-content-->
                    <div class="tab-content" id="tab-2">
                        <h3>Tab 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, facere.</p>
                    </div>

                    <!--Tab-content-->
                    <div class="tab-content" id="tab-3">
                        <h3>Tab 3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, facere.</p>
                    </div>

                    <!--Tab-content-->
                    <div class="tab-content" id="tab-4">
                        <h3>Tab 4</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, facere.</p>
                    </div>

                    <!--Tab-content-->
                    <div class="tab-content" id="tab-5">
                        <h3>Tab 5</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, facere.</p>
                    </div>
                </div>
            </div>

            {# HTML Code #}
            <div class="card p-2">
                <div class="card-header">
                    <h2>💻 HTML Code</h2>
                </div>
                <div class="card-body">
                    <div class="position-relative">
                        <button class="btn btn-primary position-top-right z-1 mt-1 mr-1"
                                onclick="copyCode('code-tab', this);">Copy
                        </button>
                        <div data-js="code" id="code-tab" class="container-code overflow-auto">
                            <!--Tab-button-->
                            <div class="tab">
                                <button class="tab-btn btn-primary active" type="button" data-js="tab" data-target="#tab-demo-1">Tab 1</button>
                                <button class="tab-btn btn-primary" type="button" data-js="tab" data-target="#tab-demo-2">Tab 2</button>
                                <button class="tab-btn btn-primary" type="button" data-js="tab" data-target="#tab-demo-3">Tab 3</button>
                            </div>

                            <!--Tab-content-->
                            <div class="tab-content show" id="tab-demo-1">
                                <h3>Tab 1</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, facere.</p>
                            </div>

                            <!--Tab-content-->
                            <div class="tab-content" id="tab-demo-2">
                                <h3>Tab 2</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, facere.</p>
                            </div>

                            <!--Tab-content-->
                            <div class="tab-content" id="tab-demo-3">
                                <h3>Tab 3</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, facere.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Sizes #}
            <div class="card p-2">
                <div class="card-header">
                    <h2>📏 Sizes</h2>
                </div>
                <div class="card-body">
                    <p>
                        You don’t need to combine
                        <code class="text-bold text-primary">.tab-btn</code>
                        with a size class.
                        The base class <code class="text-bold text-primary">.tab-btn</code> already uses the
                        medium size configuration, identical to
                        <code class="text-bold text-primary">.tab-btn-md</code>.
                        Smaller or larger variants (
                        <code class="text-bold text-primary">.tab-btn-sm</code> and
                        <code class="text-bold text-primary">.tab-btn-lg</code>
                        ) come with their own CSS variables.
                    </p>

                    <div class="row mt-2">
                        <div class="col-12 col-xs-4">
                            <div class="card p-2">
                                <code class="text-bold text-primary">.tab-btn-sm</code>
                            </div>
                        </div>

                        <div class="col-12 col-xs-4">
                            <div class="card p-2">
                                <code class="text-bold text-primary">.tab-btn / .tab-btn-md</code>
                            </div>
                        </div>

                        <div class="col-12 col-xs-4">
                            <div class="card p-2">
                                <code class="text-bold text-primary">.tab-btn-lg</code>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Varibles #}
            <div class="card p-2">
                <div class="card-header">
                    <h2>⚙️ Variables CSS</h2>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li><code class="text-bold text-primary">--tab-button-padding</code></li>
                        <li><code class="text-bold text-primary">--tab-button-padding-sm</code></li>
                        <li><code class="text-bold text-primary">--tab-button-padding-md</code></li>
                        <li><code class="text-bold text-primary">--tab-button-padding-lg</code></li>
                        <li><code class="text-bold text-primary">--tab-button-radius</code></li>
                        <li><code class="text-bold text-primary">--tab-content-border</code></li>
                        <li><code class="text-bold text-primary">--tab-content-border-radius</code></li>
                        <li><code class="text-bold text-primary">--tab-content-padding</code></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
