{% extends 'base.html.twig' %}

{% block title %}Hello FormController!{% endblock %}

{% block body %}
    <div class="container-sm">
        <div class="d-flex fd-column gap-5">

            {# Intro #}
            <article class="card p-2">
                <div class="card-header">
                    <h2>📝 Form fields</h2>
                </div>
            </article>

            {# Examples #}
            <article class="card p-2">
                <div class="card-header">
                    <h2>💠 Examples</h2>
                </div>

                <div class="card-body">
                    <form action="" method="POST" data-js="validate" novalidate>
                        <div class="row">
                            <div class="col-12 col-6-xs col-4-sm">
                                <div class="form-control">
                                    <label for="date">Date</label>
                                    <input type="date" id="date" required>
                                </div>
                            </div>

                            <div class="col-12 col-6-xs col-4-sm">
                                <div class="form-control">
                                    <label for="datetime-local">Datetime Local</label>
                                    <input type="datetime-local" id="datetime-local" required>
                                </div>
                            </div>

                            <div class="col-12 col-6-xs col-4-sm">
                                <div class="form-control">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" value="test@example.com" autocomplete="email"
                                           required>
                                </div>
                            </div>

                            <div class="col-12 col-6-xs col-4-sm">
                                <div class="form-control">
                                    <label for="file">File</label>
                                    <input type="file" id="file" required>
                                </div>
                            </div>

                            <div class="col-12 col-6-xs col-4-sm">
                                <div class="form-control">
                                    <label for="month">Month</label>
                                    <input type="month" id="month" required>
                                </div>
                            </div>

                            <div class="col-12 col-6-xs col-4-sm">
                                <div class="form-control">
                                    <label for="number">Number</label>
                                    <input type="number" id="number" required>
                                </div>
                            </div>

                            <div class="col-12 col-6-xs col-4-sm">
                                <div class="form-control">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" value="1234" required>
                                </div>
                            </div>

                            <div class="col-12 col-6-xs col-4-sm">
                                <div class="form-control">
                                    <label for="search">Search</label>
                                    <input type="search" id="search" required>
                                </div>
                            </div>

                            <div class="col-12 col-6-xs col-4-sm">
                                <div class="form-control">
                                    <label for="tel">Tel</label>
                                    <input type="tel" id="tel" autocomplete="tel" required>
                                </div>
                            </div>

                            <div class="col-12 col-6-xs col-4-sm">
                                <div class="form-control">
                                    <label for="text">Text</label>
                                    <input type="text" id="text" required>
                                </div>
                            </div>

                            <div class="col-12 col-6-xs col-4-sm">
                                <div class="form-control">
                                    <label for="time">Time</label>
                                    <input type="time" id="time" required>
                                </div>
                            </div>

                            <div class="col-12 col-6-xs col-4-sm">
                                <div class="form-control">
                                    <label for="url">URL</label>
                                    <input type="url" id="url" required>
                                </div>
                            </div>

                            <div class="col-12 col-6-xs col-4-sm">
                                <div class="form-control">
                                    <label for="week">Week</label>
                                    <input type="week" id="week" required>
                                </div>
                            </div>

                            <div class="col-12 col-6-xs col-4-sm">
                                <div class="form-control">
                                    <label for="select">Select</label>
                                    <select id="select" required>
                                        <option value="">Choose an option</option>
                                        <option value="opt1">Option 1</option>
                                        <option value="opt2">Option 2</option>
                                        <option value="opt3">Option 3</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-6-xs col-4-sm">
                                <div class="form-control">
                                    <label for="color">Color</label>
                                    <input type="color" id="color">
                                </div>
                            </div>

                            <div class="col-12 col-6-xs col-4-sm">
                                <div class="form-control">
                                    <label for="checkbox">Checkbox</label>
                                    <input type="checkbox" id="checkbox">
                                </div>
                            </div>

                            <div class="col-12 col-6-xs col-4-sm">
                                <div class="form-control">
                                    <label for="radio">Radio</label>
                                    <input type="radio" id="radio">
                                </div>
                            </div>

                            <div class="col-12 col-6-xs col-4-sm">
                                <div class="form-control">
                                    <label for="switch">Switch</label>
                                    <input id="switch" role="switch" type="checkbox">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-control">
                                    <label for="range">Range</label>
                                    <input type="range" id="range">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-control">
                                    <label for="message">Message</label>
                                    <textarea id="message" rows="4" required></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-control">
                                    <label for="image">Image</label>
                                    <input type="image" id="image" alt="image"
                                           src="https://placehold.co/120x40.jpg?text=Submit">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </article>

            {# HTML Code #}
            <article class="card p-2">
                <div class="card-header">
                    <h2>💻 HTML Code</h2>
                </div>
                <div class="card-body">
                    <div class="position-relative">
                        <button class="btn btn-primary position-top-right z-1 mt-1 mr-1"
                                onclick="copyCode('code-form', this);">Copy
                        </button>
                        <div data-js="code" id="code-form" class="container-code overflow-auto">
                            <form action="" method="POST" data-js="validate">
                                <div class="form-control">
                                    <label for="date">Date</label>
                                    <input type="date" id="date">
                                </div>

                                <div class="form-control">
                                    <label for="datetime-local">Datetime Local</label>
                                    <input type="datetime-local" id="datetime-local">
                                </div>

                                <div class="form-control">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" autocomplete="email">
                                </div>

                                <div class="form-control">
                                    <label for="file">File</label>
                                    <input type="file" id="file">
                                </div>

                                <div class="form-control">
                                    <label for="month">Month</label>
                                    <input type="month" id="month">
                                </div>

                                <div class="form-control">
                                    <label for="number">Number</label>
                                    <input type="number" id="number">
                                </div>

                                <div class="form-control">
                                    <label for="password">Password</label>
                                    <input type="password" id="password">
                                </div>

                                <div class="form-control">
                                    <label for="search">Search</label>
                                    <input type="search" id="search">
                                </div>

                                <div class="form-control">
                                    <label for="tel">Tel</label>
                                    <input type="tel" id="tel" autocomplete="tel">
                                </div>

                                <div class="form-control">
                                    <label for="text">Text</label>
                                    <input type="text" id="text">
                                </div>

                                <div class="form-control">
                                    <label for="time">Time</label>
                                    <input type="time" id="time">
                                </div>

                                <div class="form-control">
                                    <label for="url">URL</label>
                                    <input type="url" id="url">
                                </div>

                                <div class="form-control">
                                    <label for="week">Week</label>
                                    <input type="week" id="week">
                                </div>

                                <div class="form-control">
                                    <label for="select">Select</label>
                                    <select id="select">
                                        <option value="">Choose an option</option>
                                        <option value="opt1">Option 1</option>
                                        <option value="opt2">Option 2</option>
                                        <option value="opt3">Option 3</option>
                                    </select>
                                </div>

                                <div class="form-control">
                                    <label for="color">Color</label>
                                    <input type="color" id="color">
                                </div>

                                <div class="form-control">
                                    <label for="checkbox">Checkbox</label>
                                    <input type="checkbox" id="checkbox">
                                </div>

                                <div class="form-control">
                                    <label for="radio">Radio</label>
                                    <input type="radio" id="radio">
                                </div>

                                <div class="form-control">
                                    <label for="switch">Switch</label>
                                    <input id="switch" role="switch" type="checkbox">
                                </div>

                                <div class="form-control">
                                    <label for="range">Range</label>
                                    <input type="range" id="range">
                                </div>

                                <div class="form-control">
                                    <label for="message">Message</label>
                                    <textarea id="message" rows="4"></textarea>
                                </div>

                                <div class="form-control">
                                    <label for="image">Image</label>
                                    <input type="image" id="image" alt="image"
                                           src="https://placehold.co/120x40.jpg?text=Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>

            {# Input sizes #}
            <article class="card p-2">
                <div class="card-header">
                    <h2>📏 Input sizes</h2>
                </div>
                <div class="card-body">
                    <p class="p-1">
                        Input size is controlled by the wrapper. Use <code
                            class="text-bold text-primary">.form-control</code> for the default size, or <code
                            class="text-bold text-primary">.form-control-sm</code>, <code
                            class="text-bold text-primary">.form-control-md</code>, and <code
                            class="text-bold text-primary">.form-control-lg</code> for smaller or larger fields.
                    </p>

                    <div class="row mt-2">
                        <div class="col-12 col-4-xs">
                            <div class="card p-2">
                                <code class="text-bold text-primary">.form-control</code>
                            </div>
                        </div>
                        <div class="col-12 col-4-xs">
                            <div class="card p-2">
                                <code class="text-bold text-primary">.form-control-sm</code>
                            </div>
                        </div>
                        <div class="col-12 col-4-xs">
                            <div class="card p-2">
                                <code class="text-bold text-primary">.form-control-md</code>
                            </div>
                        </div>
                        <div class="col-12 col-4-xs">
                            <div class="card p-2">
                                <code class="text-bold text-primary">.form-control-lg</code>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            {# Form inline #}
            <article class="card p-2">
                <div class="card-header">
                    <h2>📏 Inline Forms</h2>
                </div>
                <div class="card-body">
                    <p class="p-1">
                        By default, labels and inputs are displayed vertically: the label appears above the field.
                        If you want a horizontal layout instead, <br>wrap your label and input inside
                        <code class="text-bold text-primary">.form-inline</code>.
                        This class aligns both elements side by side while keeping the spacing consistent.
                    </p>
                </div>
            </article>

            {# How it works #}
            <article class="card p-2">
                <div class="card-header">
                    <h2>⚙️ How it works</h2>
                </div>
                <div class="card-body">
                    <p class="p-1">
                        The script listens to <code class="text-bold text-primary">submit</code> events on forms with
                        <code class="text-bold text-primary">data-js="validate"</code>, uses the browser’s native <code
                            class="text-bold text-primary">checkValidity()</code>, and prevents submit if the form is
                        invalid while adding <code class="text-bold text-primary">.validated</code> so CSS can style
                        valid and invalid fields.
                    </p>
                </div>
            </article>

            {# How to use #}
            <article class="card p-2">
                <div class="card-header">
                    <h2>🛠️ How to use</h2>
                </div>
                <div class="card-body">
                    <p class="p-1">
                        Add <code class="text-bold text-primary">data-js="validate"</code> to your form, set <code
                            class="text-bold text-primary">required</code> or other HTML constraints on fields, and wrap
                        each label–field pair in <code class="text-bold text-primary">.form-control</code>. Use the
                        <code class="text-bold text-primary">novalidate</code> attribute on the form if you want to
                        disable native browser error popups and let the component handle validation UI.
                    </p>
                </div>
            </article>

            {# Variables #}
            <article class="card p-2">
                <div class="card-header">
                    <h2>⚙️ Variables CSS</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr class="text-left">
                                <th>Variable</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td><code class="text-bold text-primary">--form-control-gap</code></td>
                                <td>Gap between form controls.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--form-control-height</code></td>
                                <td>Default height of form controls.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--form-control-height-lg</code></td>
                                <td>Height for large-sized form controls.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--form-control-height-md</code></td>
                                <td>Height for medium-sized form controls.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--form-control-height-sm</code></td>
                                <td>Height for small-sized form controls.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-bg-color</code></td>
                                <td>Background color of the input.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-border-color</code></td>
                                <td>Border color of the input.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-border-color-invalid</code></td>
                                <td>Border color for invalid input state.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-border-color-valid</code></td>
                                <td>Border color for valid input state.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-border-radius</code></td>
                                <td>Corner radius of inputs.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-border-style</code></td>
                                <td>Border style applied to inputs.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-border-width</code></td>
                                <td>Thickness of the input border.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-box-shadow-focus</code></td>
                                <td>Focus shadow applied when the input is active.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-box-shadow-invalid</code></td>
                                <td>Shadow applied when the input state is invalid.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-box-shadow-valid</code></td>
                                <td>Shadow applied when the input state is valid.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-checbox-size</code></td>
                                <td>Default size of checkboxes.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-checbox-size-lg</code></td>
                                <td>Size for large checkboxes.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-checbox-size-md</code></td>
                                <td>Size for medium checkboxes.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-checbox-size-sm</code></td>
                                <td>Size for small checkboxes.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-height</code></td>
                                <td>Default height of inputs.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-height-lg</code></td>
                                <td>Height for large-sized inputs.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-height-md</code></td>
                                <td>Height for medium-sized inputs.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-height-sm</code></td>
                                <td>Height for small-sized inputs.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-icon-invalid-svg</code></td>
                                <td>SVG icon displayed for invalid input state.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-icon-select-arrow-svg</code></td>
                                <td>Arrow icon for select elements.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-icon-valid-svg</code></td>
                                <td>SVG icon displayed for valid input state.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-padding</code></td>
                                <td>Horizontal padding inside inputs.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-radio-size</code></td>
                                <td>Default size of radio buttons.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-radio-size-lg</code></td>
                                <td>Size for large radio buttons.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-radio-size-md</code></td>
                                <td>Size for medium radio buttons.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-radio-size-sm</code></td>
                                <td>Size for small radio buttons.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-range-bar-height</code></td>
                                <td>Height of the input range bar.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-range-bar-height-lg</code></td>
                                <td>Height of the input range bar (large).</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-range-bar-height-md</code></td>
                                <td>Height of the input range bar (medium).</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-range-bar-height-sm</code></td>
                                <td>Height of the input range bar (small).</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-range-button-size</code></td>
                                <td>Size of the input range handle button.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-range-button-size-lg</code></td>
                                <td>Size of the handle button (large).</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-range-button-size-md</code></td>
                                <td>Size of the handle button (medium).</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-range-button-size-sm</code></td>
                                <td>Size of the handle button (small).</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-switch-bg-color</code></td>
                                <td>Background color of toggle switches.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-switch-height</code></td>
                                <td>Default height of toggle switches.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-switch-height-lg</code></td>
                                <td>Height of toggle switches (large).</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-switch-height-md</code></td>
                                <td>Height of toggle switches (medium).</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--input-switch-height-sm</code></td>
                                <td>Height of toggle switches (small).</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--textarea-padding</code></td>
                                <td>Padding inside textarea elements.</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </article>

        </div>
    </div>
{% endblock %}
