{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="container-sm">
        <h1 class="position-center">
            Framework SimpleCSS
        </h1>
    </div>
{% endblock %}



