<article class="card p-2">
    <div class="card-header">
        <h2>Fragment result</h2>
    </div>
    <div class="card-body">
        <p class="p-1">
            The text was sent with
            <code class="text-bold text-primary">data-ajax-post</code>
            and processed by the route
            <code class="text-bold text-primary">ajax_demo_fragment</code>.
        </p>

        <p class="p-1 mt-1">
            <strong>Text received:</strong><br>
            <span class="d-inline-block mt-1">
                {{ text|e }}
            </span>
        </p>
    </div>
</article>
