@keyframes slide-top-in {
  0% {
    transform: translateY(-66.66%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-bottom-in {
  0% {
    transform: translateY(66.66%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-left-in {
  0% {
    transform: translateX(-66.66%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-left-in {
  0% {
    transform: translateX(-99.99%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-right-in {
  0% {
    transform: translateX(66.66%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shake-x {
  0%, 100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-18px);
  }
  20% {
    transform: translateX(16px);
  }
  30% {
    transform: translateX(-14px);
  }
  40% {
    transform: translateX(12px);
  }
  50% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(8px);
  }
  70% {
    transform: translateX(-6px);
  }
  80% {
    transform: translateX(4px);
  }
  90% {
    transform: translateX(-1px);
  }
}
@keyframes shake-y {
  0%, 100% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-18px);
  }
  20% {
    transform: translateY(16px);
  }
  30% {
    transform: translateY(-14px);
  }
  40% {
    transform: translateY(12px);
  }
  50% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(8px);
  }
  70% {
    transform: translateY(-6px);
  }
  80% {
    transform: translateY(4px);
  }
  90% {
    transform: translateY(-1px);
  }
}
@keyframes grow {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shrink {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide-top-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-66.66%);
  }
}
@keyframes slide-bottom-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(66.66%);
  }
}
@keyframes slide-left-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.66%);
  }
}
@keyframes slide-right-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(66.66%);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes alert-in-and-out {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
@keyframes alert-keep-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes alert-keep-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
