/* Border sides */
.border-top {
  border-top: var(--border-width) var(--border-style) var(--border-color);
}

.border-bottom {
  border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

.border-left {
  border-left: var(--border-width) var(--border-style) var(--border-color);
}

.border-right {
  border-right: var(--border-width) var(--border-style) var(--border-color);
}

.border-y {
  border-top: var(--border-width) var(--border-style) var(--border-color);
  border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

.border-x {
  border-left: var(--border-width) var(--border-style) var(--border-color);
  border-right: var(--border-width) var(--border-style) var(--border-color);
}

.border-all {
  border: var(--border-width) var(--border-style) var(--border-color);
}

/* Border style */
.border-solid {
  border-style: solid !important;
}

.border-dashed {
  border-style: dashed !important;
}

.border-dotted {
  border-style: dotted !important;
}

.border-double {
  border-style: double !important;
}

.border-none {
  border-style: none !important;
}

/* Border width */
.border-0 {
  border-width: 0 !important;
}

.border-1 {
  border-width: 0.1rem !important;
}

.border-2 {
  border-width: 0.2rem !important;
}

.border-3 {
  border-width: 0.3rem !important;
}

.border-4 {
  border-width: 0.4rem !important;
}

.border-5 {
  border-width: 0.5rem !important;
}

/* Border radius */
.rounded-0 {
  border-radius: 0;
}

.border-radius {
  border-radius: var(--border-radius);
}

.rounded {
  border-radius: var(--border-radius);
}

.rounded-pill {
  border-radius: var(--border-radius-pill);
}

.rounded-circle {
  border-radius: var(--border-radius-circle);
}
