.img {
  border-radius: var(--img-border-radius);
}

/* Image display helpers */
.img-responsive {
  height: auto;
  display: block;
  max-width: 100%;
  object-fit: cover;
  border-radius: var(--img-border-radius);
}

/* Image fluid */
.img-fluid {
  height: auto;
  max-width: 100%;
  border-radius: var(--img-border-radius);
}

/* Image thumbnail */
.img-thumbnail {
  padding: var(--img-thumbnail-padding);
  background-color: var(--img-thumbnail-bg-color);
  border: var(--img-thumbnail-border);
  border-radius: var(--img-border-radius);
}
