/* Percent sizes */
/* Width & Height */
.w-0 {
  width: 0;
}

.h-0 {
  height: 0;
}

.w-10 {
  width: 10%;
}

.h-10 {
  height: 10%;
}

.w-20 {
  width: 20%;
}

.h-20 {
  height: 20%;
}

.w-30 {
  width: 30%;
}

.h-30 {
  height: 30%;
}

.w-40 {
  width: 40%;
}

.h-40 {
  height: 40%;
}

.w-50 {
  width: 50%;
}

.h-50 {
  height: 50%;
}

.w-60 {
  width: 60%;
}

.h-60 {
  height: 60%;
}

.w-70 {
  width: 70%;
}

.h-70 {
  height: 70%;
}

.w-75 {
  width: 75%;
}

.h-75 {
  height: 75%;
}

.w-80 {
  width: 80%;
}

.h-80 {
  height: 80%;
}

.w-90 {
  width: 90%;
}

.h-90 {
  height: 90%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

/* Min / Max sizes */
.min-w-0 {
  min-width: 0;
}

.max-w-0 {
  max-width: 0;
}

.min-h-0 {
  min-height: 0;
}

.max-h-0 {
  max-height: 0;
}

.min-w-10 {
  min-width: 10%;
}

.max-w-10 {
  max-width: 10%;
}

.min-h-10 {
  min-height: 10%;
}

.max-h-10 {
  max-height: 10%;
}

.min-w-20 {
  min-width: 20%;
}

.max-w-20 {
  max-width: 20%;
}

.min-h-20 {
  min-height: 20%;
}

.max-h-20 {
  max-height: 20%;
}

.min-w-30 {
  min-width: 30%;
}

.max-w-30 {
  max-width: 30%;
}

.min-h-30 {
  min-height: 30%;
}

.max-h-30 {
  max-height: 30%;
}

.min-w-40 {
  min-width: 40%;
}

.max-w-40 {
  max-width: 40%;
}

.min-h-40 {
  min-height: 40%;
}

.max-h-40 {
  max-height: 40%;
}

.min-w-50 {
  min-width: 50%;
}

.max-w-50 {
  max-width: 50%;
}

.min-h-50 {
  min-height: 50%;
}

.max-h-50 {
  max-height: 50%;
}

.min-w-60 {
  min-width: 60%;
}

.max-w-60 {
  max-width: 60%;
}

.min-h-60 {
  min-height: 60%;
}

.max-h-60 {
  max-height: 60%;
}

.min-w-70 {
  min-width: 70%;
}

.max-w-70 {
  max-width: 70%;
}

.min-h-70 {
  min-height: 70%;
}

.max-h-70 {
  max-height: 70%;
}

.min-w-75 {
  min-width: 75%;
}

.max-w-75 {
  max-width: 75%;
}

.min-h-75 {
  min-height: 75%;
}

.max-h-75 {
  max-height: 75%;
}

.min-w-80 {
  min-width: 80%;
}

.max-w-80 {
  max-width: 80%;
}

.min-h-80 {
  min-height: 80%;
}

.max-h-80 {
  max-height: 80%;
}

.min-w-90 {
  min-width: 90%;
}

.max-w-90 {
  max-width: 90%;
}

.min-h-90 {
  min-height: 90%;
}

.max-h-90 {
  max-height: 90%;
}

.min-w-100 {
  min-width: 100%;
}

.max-w-100 {
  max-width: 100%;
}

.min-h-100 {
  min-height: 100%;
}

.max-h-100 {
  max-height: 100%;
}

/* Viewport height (vh) */
.vh-0 {
  height: 0;
}

.min-vh-0 {
  min-height: 0;
}

.max-vh-0 {
  max-height: 0;
}

.vh-10 {
  height: 10vh;
}

.min-vh-10 {
  min-height: 10vh;
}

.max-vh-10 {
  max-height: 10vh;
}

.vh-20 {
  height: 20vh;
}

.min-vh-20 {
  min-height: 20vh;
}

.max-vh-20 {
  max-height: 20vh;
}

.vh-30 {
  height: 30vh;
}

.min-vh-30 {
  min-height: 30vh;
}

.max-vh-30 {
  max-height: 30vh;
}

.vh-40 {
  height: 40vh;
}

.min-vh-40 {
  min-height: 40vh;
}

.max-vh-40 {
  max-height: 40vh;
}

.vh-50 {
  height: 50vh;
}

.min-vh-50 {
  min-height: 50vh;
}

.max-vh-50 {
  max-height: 50vh;
}

.vh-60 {
  height: 60vh;
}

.min-vh-60 {
  min-height: 60vh;
}

.max-vh-60 {
  max-height: 60vh;
}

.vh-70 {
  height: 70vh;
}

.min-vh-70 {
  min-height: 70vh;
}

.max-vh-70 {
  max-height: 70vh;
}

.vh-75 {
  height: 75vh;
}

.min-vh-75 {
  min-height: 75vh;
}

.max-vh-75 {
  max-height: 75vh;
}

.vh-80 {
  height: 80vh;
}

.min-vh-80 {
  min-height: 80vh;
}

.max-vh-80 {
  max-height: 80vh;
}

.vh-90 {
  height: 90vh;
}

.min-vh-90 {
  min-height: 90vh;
}

.max-vh-90 {
  max-height: 90vh;
}

.vh-100 {
  height: 100vh;
}

.min-vh-100 {
  min-height: 100vh;
}

.max-vh-100 {
  max-height: 100vh;
}

/* Viewport width (vw) */
.vw-0 {
  width: 0;
}

.min-vw-0 {
  min-width: 0;
}

.max-vw-0 {
  max-width: 0;
}

.vw-10 {
  width: 10vw;
}

.min-vw-10 {
  min-width: 10vw;
}

.max-vw-10 {
  max-width: 10vw;
}

.vw-20 {
  width: 20vw;
}

.min-vw-20 {
  min-width: 20vw;
}

.max-vw-20 {
  max-width: 20vw;
}

.vw-30 {
  width: 30vw;
}

.min-vw-30 {
  min-width: 30vw;
}

.max-vw-30 {
  max-width: 30vw;
}

.vw-40 {
  width: 40vw;
}

.min-vw-40 {
  min-width: 40vw;
}

.max-vw-40 {
  max-width: 40vw;
}

.vw-50 {
  width: 50vw;
}

.min-vw-50 {
  min-width: 50vw;
}

.max-vw-50 {
  max-width: 50vw;
}

.vw-60 {
  width: 60vw;
}

.min-vw-60 {
  min-width: 60vw;
}

.max-vw-60 {
  max-width: 60vw;
}

.vw-70 {
  width: 70vw;
}

.min-vw-70 {
  min-width: 70vw;
}

.max-vw-70 {
  max-width: 70vw;
}

.vw-75 {
  width: 75vw;
}

.min-vw-75 {
  min-width: 75vw;
}

.max-vw-75 {
  max-width: 75vw;
}

.vw-80 {
  width: 80vw;
}

.min-vw-80 {
  min-width: 80vw;
}

.max-vw-80 {
  max-width: 80vw;
}

.vw-90 {
  width: 90vw;
}

.min-vw-90 {
  min-width: 90vw;
}

.max-vw-90 {
  max-width: 90vw;
}

.vw-100 {
  width: 100vw;
}

.min-vw-100 {
  min-width: 100vw;
}

.max-vw-100 {
  max-width: 100vw;
}

/* Breakpoints */
.fit-height {
  height: fit-content;
}

.fit-width {
  width: fit-content;
}

.fit-size {
  width: fit-content;
  height: fit-content;
}

/* Responsive per breakpoint */
.fit-width-xs {
  width: 42.5rem;
}

.fit-height-xs {
  height: 42.5rem;
}

.fit-size-xs {
  width: 42.5rem;
  height: 42.5rem;
}

.fit-width-sm {
  width: 57.6rem;
}

.fit-height-sm {
  height: 57.6rem;
}

.fit-size-sm {
  width: 57.6rem;
  height: 57.6rem;
}

.fit-width-md {
  width: 76.8rem;
}

.fit-height-md {
  height: 76.8rem;
}

.fit-size-md {
  width: 76.8rem;
  height: 76.8rem;
}

.fit-width-lg {
  width: 99.2rem;
}

.fit-height-lg {
  height: 99.2rem;
}

.fit-size-lg {
  width: 99.2rem;
  height: 99.2rem;
}

.fit-width-xl {
  width: 120rem;
}

.fit-height-xl {
  height: 120rem;
}

.fit-size-xl {
  width: 120rem;
  height: 120rem;
}

.fit-width-xxl {
  width: 140rem;
}

.fit-height-xxl {
  height: 140rem;
}

.fit-size-xxl {
  width: 140rem;
  height: 140rem;
}
