/* Breakpoints */
/* Breakpoints */
/* Percent sizes */
/* Width & Height */
.w-0 {
  width: 0;
}

.h-0 {
  height: 0;
}

.min-w-0 {
  min-width: 0;
}

.max-w-0 {
  max-width: 0;
}

.min-h-0 {
  min-height: 0;
}

.max-h-0 {
  max-height: 0;
}

.w-10 {
  width: 10%;
}

.h-10 {
  height: 10%;
}

.min-w-10 {
  min-width: 10%;
}

.max-w-10 {
  max-width: 10%;
}

.min-h-10 {
  min-height: 10%;
}

.max-h-10 {
  max-height: 10%;
}

.w-20 {
  width: 20%;
}

.h-20 {
  height: 20%;
}

.min-w-20 {
  min-width: 20%;
}

.max-w-20 {
  max-width: 20%;
}

.min-h-20 {
  min-height: 20%;
}

.max-h-20 {
  max-height: 20%;
}

.w-30 {
  width: 30%;
}

.h-30 {
  height: 30%;
}

.min-w-30 {
  min-width: 30%;
}

.max-w-30 {
  max-width: 30%;
}

.min-h-30 {
  min-height: 30%;
}

.max-h-30 {
  max-height: 30%;
}

.w-40 {
  width: 40%;
}

.h-40 {
  height: 40%;
}

.min-w-40 {
  min-width: 40%;
}

.max-w-40 {
  max-width: 40%;
}

.min-h-40 {
  min-height: 40%;
}

.max-h-40 {
  max-height: 40%;
}

.w-50 {
  width: 50%;
}

.h-50 {
  height: 50%;
}

.min-w-50 {
  min-width: 50%;
}

.max-w-50 {
  max-width: 50%;
}

.min-h-50 {
  min-height: 50%;
}

.max-h-50 {
  max-height: 50%;
}

.w-60 {
  width: 60%;
}

.h-60 {
  height: 60%;
}

.min-w-60 {
  min-width: 60%;
}

.max-w-60 {
  max-width: 60%;
}

.min-h-60 {
  min-height: 60%;
}

.max-h-60 {
  max-height: 60%;
}

.w-70 {
  width: 70%;
}

.h-70 {
  height: 70%;
}

.min-w-70 {
  min-width: 70%;
}

.max-w-70 {
  max-width: 70%;
}

.min-h-70 {
  min-height: 70%;
}

.max-h-70 {
  max-height: 70%;
}

.w-80 {
  width: 80%;
}

.h-80 {
  height: 80%;
}

.min-w-80 {
  min-width: 80%;
}

.max-w-80 {
  max-width: 80%;
}

.min-h-80 {
  min-height: 80%;
}

.max-h-80 {
  max-height: 80%;
}

.w-90 {
  width: 90%;
}

.h-90 {
  height: 90%;
}

.min-w-90 {
  min-width: 90%;
}

.max-w-90 {
  max-width: 90%;
}

.min-h-90 {
  min-height: 90%;
}

.max-h-90 {
  max-height: 90%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.min-w-100 {
  min-width: 100%;
}

.max-w-100 {
  max-width: 100%;
}

.min-h-100 {
  min-height: 100%;
}

.max-h-100 {
  max-height: 100%;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

/* Responsive per breakpoint */
@media (min-width: 42.5rem) {
  .w-0-xs {
    width: 0;
  }
  .h-0-xs {
    height: 0;
  }
  .min-w-0-xs {
    min-width: 0;
  }
  .max-w-0-xs {
    max-width: 0;
  }
  .min-h-0-xs {
    min-height: 0;
  }
  .max-h-0-xs {
    max-height: 0;
  }
  .w-10-xs {
    width: 10%;
  }
  .h-10-xs {
    height: 10%;
  }
  .min-w-10-xs {
    min-width: 10%;
  }
  .max-w-10-xs {
    max-width: 10%;
  }
  .min-h-10-xs {
    min-height: 10%;
  }
  .max-h-10-xs {
    max-height: 10%;
  }
  .w-20-xs {
    width: 20%;
  }
  .h-20-xs {
    height: 20%;
  }
  .min-w-20-xs {
    min-width: 20%;
  }
  .max-w-20-xs {
    max-width: 20%;
  }
  .min-h-20-xs {
    min-height: 20%;
  }
  .max-h-20-xs {
    max-height: 20%;
  }
  .w-30-xs {
    width: 30%;
  }
  .h-30-xs {
    height: 30%;
  }
  .min-w-30-xs {
    min-width: 30%;
  }
  .max-w-30-xs {
    max-width: 30%;
  }
  .min-h-30-xs {
    min-height: 30%;
  }
  .max-h-30-xs {
    max-height: 30%;
  }
  .w-40-xs {
    width: 40%;
  }
  .h-40-xs {
    height: 40%;
  }
  .min-w-40-xs {
    min-width: 40%;
  }
  .max-w-40-xs {
    max-width: 40%;
  }
  .min-h-40-xs {
    min-height: 40%;
  }
  .max-h-40-xs {
    max-height: 40%;
  }
  .w-50-xs {
    width: 50%;
  }
  .h-50-xs {
    height: 50%;
  }
  .min-w-50-xs {
    min-width: 50%;
  }
  .max-w-50-xs {
    max-width: 50%;
  }
  .min-h-50-xs {
    min-height: 50%;
  }
  .max-h-50-xs {
    max-height: 50%;
  }
  .w-60-xs {
    width: 60%;
  }
  .h-60-xs {
    height: 60%;
  }
  .min-w-60-xs {
    min-width: 60%;
  }
  .max-w-60-xs {
    max-width: 60%;
  }
  .min-h-60-xs {
    min-height: 60%;
  }
  .max-h-60-xs {
    max-height: 60%;
  }
  .w-70-xs {
    width: 70%;
  }
  .h-70-xs {
    height: 70%;
  }
  .min-w-70-xs {
    min-width: 70%;
  }
  .max-w-70-xs {
    max-width: 70%;
  }
  .min-h-70-xs {
    min-height: 70%;
  }
  .max-h-70-xs {
    max-height: 70%;
  }
  .w-80-xs {
    width: 80%;
  }
  .h-80-xs {
    height: 80%;
  }
  .min-w-80-xs {
    min-width: 80%;
  }
  .max-w-80-xs {
    max-width: 80%;
  }
  .min-h-80-xs {
    min-height: 80%;
  }
  .max-h-80-xs {
    max-height: 80%;
  }
  .w-90-xs {
    width: 90%;
  }
  .h-90-xs {
    height: 90%;
  }
  .min-w-90-xs {
    min-width: 90%;
  }
  .max-w-90-xs {
    max-width: 90%;
  }
  .min-h-90-xs {
    min-height: 90%;
  }
  .max-h-90-xs {
    max-height: 90%;
  }
  .w-100-xs {
    width: 100%;
  }
  .h-100-xs {
    height: 100%;
  }
  .min-w-100-xs {
    min-width: 100%;
  }
  .max-w-100-xs {
    max-width: 100%;
  }
  .min-h-100-xs {
    min-height: 100%;
  }
  .max-h-100-xs {
    max-height: 100%;
  }
  .w-auto-xs {
    width: auto;
  }
  .h-auto-xs {
    height: auto;
  }
}
@media (min-width: 57.6rem) {
  .w-0-sm {
    width: 0;
  }
  .h-0-sm {
    height: 0;
  }
  .min-w-0-sm {
    min-width: 0;
  }
  .max-w-0-sm {
    max-width: 0;
  }
  .min-h-0-sm {
    min-height: 0;
  }
  .max-h-0-sm {
    max-height: 0;
  }
  .w-10-sm {
    width: 10%;
  }
  .h-10-sm {
    height: 10%;
  }
  .min-w-10-sm {
    min-width: 10%;
  }
  .max-w-10-sm {
    max-width: 10%;
  }
  .min-h-10-sm {
    min-height: 10%;
  }
  .max-h-10-sm {
    max-height: 10%;
  }
  .w-20-sm {
    width: 20%;
  }
  .h-20-sm {
    height: 20%;
  }
  .min-w-20-sm {
    min-width: 20%;
  }
  .max-w-20-sm {
    max-width: 20%;
  }
  .min-h-20-sm {
    min-height: 20%;
  }
  .max-h-20-sm {
    max-height: 20%;
  }
  .w-30-sm {
    width: 30%;
  }
  .h-30-sm {
    height: 30%;
  }
  .min-w-30-sm {
    min-width: 30%;
  }
  .max-w-30-sm {
    max-width: 30%;
  }
  .min-h-30-sm {
    min-height: 30%;
  }
  .max-h-30-sm {
    max-height: 30%;
  }
  .w-40-sm {
    width: 40%;
  }
  .h-40-sm {
    height: 40%;
  }
  .min-w-40-sm {
    min-width: 40%;
  }
  .max-w-40-sm {
    max-width: 40%;
  }
  .min-h-40-sm {
    min-height: 40%;
  }
  .max-h-40-sm {
    max-height: 40%;
  }
  .w-50-sm {
    width: 50%;
  }
  .h-50-sm {
    height: 50%;
  }
  .min-w-50-sm {
    min-width: 50%;
  }
  .max-w-50-sm {
    max-width: 50%;
  }
  .min-h-50-sm {
    min-height: 50%;
  }
  .max-h-50-sm {
    max-height: 50%;
  }
  .w-60-sm {
    width: 60%;
  }
  .h-60-sm {
    height: 60%;
  }
  .min-w-60-sm {
    min-width: 60%;
  }
  .max-w-60-sm {
    max-width: 60%;
  }
  .min-h-60-sm {
    min-height: 60%;
  }
  .max-h-60-sm {
    max-height: 60%;
  }
  .w-70-sm {
    width: 70%;
  }
  .h-70-sm {
    height: 70%;
  }
  .min-w-70-sm {
    min-width: 70%;
  }
  .max-w-70-sm {
    max-width: 70%;
  }
  .min-h-70-sm {
    min-height: 70%;
  }
  .max-h-70-sm {
    max-height: 70%;
  }
  .w-80-sm {
    width: 80%;
  }
  .h-80-sm {
    height: 80%;
  }
  .min-w-80-sm {
    min-width: 80%;
  }
  .max-w-80-sm {
    max-width: 80%;
  }
  .min-h-80-sm {
    min-height: 80%;
  }
  .max-h-80-sm {
    max-height: 80%;
  }
  .w-90-sm {
    width: 90%;
  }
  .h-90-sm {
    height: 90%;
  }
  .min-w-90-sm {
    min-width: 90%;
  }
  .max-w-90-sm {
    max-width: 90%;
  }
  .min-h-90-sm {
    min-height: 90%;
  }
  .max-h-90-sm {
    max-height: 90%;
  }
  .w-100-sm {
    width: 100%;
  }
  .h-100-sm {
    height: 100%;
  }
  .min-w-100-sm {
    min-width: 100%;
  }
  .max-w-100-sm {
    max-width: 100%;
  }
  .min-h-100-sm {
    min-height: 100%;
  }
  .max-h-100-sm {
    max-height: 100%;
  }
  .w-auto-sm {
    width: auto;
  }
  .h-auto-sm {
    height: auto;
  }
}
@media (min-width: 76.8rem) {
  .w-0-md {
    width: 0;
  }
  .h-0-md {
    height: 0;
  }
  .min-w-0-md {
    min-width: 0;
  }
  .max-w-0-md {
    max-width: 0;
  }
  .min-h-0-md {
    min-height: 0;
  }
  .max-h-0-md {
    max-height: 0;
  }
  .w-10-md {
    width: 10%;
  }
  .h-10-md {
    height: 10%;
  }
  .min-w-10-md {
    min-width: 10%;
  }
  .max-w-10-md {
    max-width: 10%;
  }
  .min-h-10-md {
    min-height: 10%;
  }
  .max-h-10-md {
    max-height: 10%;
  }
  .w-20-md {
    width: 20%;
  }
  .h-20-md {
    height: 20%;
  }
  .min-w-20-md {
    min-width: 20%;
  }
  .max-w-20-md {
    max-width: 20%;
  }
  .min-h-20-md {
    min-height: 20%;
  }
  .max-h-20-md {
    max-height: 20%;
  }
  .w-30-md {
    width: 30%;
  }
  .h-30-md {
    height: 30%;
  }
  .min-w-30-md {
    min-width: 30%;
  }
  .max-w-30-md {
    max-width: 30%;
  }
  .min-h-30-md {
    min-height: 30%;
  }
  .max-h-30-md {
    max-height: 30%;
  }
  .w-40-md {
    width: 40%;
  }
  .h-40-md {
    height: 40%;
  }
  .min-w-40-md {
    min-width: 40%;
  }
  .max-w-40-md {
    max-width: 40%;
  }
  .min-h-40-md {
    min-height: 40%;
  }
  .max-h-40-md {
    max-height: 40%;
  }
  .w-50-md {
    width: 50%;
  }
  .h-50-md {
    height: 50%;
  }
  .min-w-50-md {
    min-width: 50%;
  }
  .max-w-50-md {
    max-width: 50%;
  }
  .min-h-50-md {
    min-height: 50%;
  }
  .max-h-50-md {
    max-height: 50%;
  }
  .w-60-md {
    width: 60%;
  }
  .h-60-md {
    height: 60%;
  }
  .min-w-60-md {
    min-width: 60%;
  }
  .max-w-60-md {
    max-width: 60%;
  }
  .min-h-60-md {
    min-height: 60%;
  }
  .max-h-60-md {
    max-height: 60%;
  }
  .w-70-md {
    width: 70%;
  }
  .h-70-md {
    height: 70%;
  }
  .min-w-70-md {
    min-width: 70%;
  }
  .max-w-70-md {
    max-width: 70%;
  }
  .min-h-70-md {
    min-height: 70%;
  }
  .max-h-70-md {
    max-height: 70%;
  }
  .w-80-md {
    width: 80%;
  }
  .h-80-md {
    height: 80%;
  }
  .min-w-80-md {
    min-width: 80%;
  }
  .max-w-80-md {
    max-width: 80%;
  }
  .min-h-80-md {
    min-height: 80%;
  }
  .max-h-80-md {
    max-height: 80%;
  }
  .w-90-md {
    width: 90%;
  }
  .h-90-md {
    height: 90%;
  }
  .min-w-90-md {
    min-width: 90%;
  }
  .max-w-90-md {
    max-width: 90%;
  }
  .min-h-90-md {
    min-height: 90%;
  }
  .max-h-90-md {
    max-height: 90%;
  }
  .w-100-md {
    width: 100%;
  }
  .h-100-md {
    height: 100%;
  }
  .min-w-100-md {
    min-width: 100%;
  }
  .max-w-100-md {
    max-width: 100%;
  }
  .min-h-100-md {
    min-height: 100%;
  }
  .max-h-100-md {
    max-height: 100%;
  }
  .w-auto-md {
    width: auto;
  }
  .h-auto-md {
    height: auto;
  }
}
@media (min-width: 99.2rem) {
  .w-0-lg {
    width: 0;
  }
  .h-0-lg {
    height: 0;
  }
  .min-w-0-lg {
    min-width: 0;
  }
  .max-w-0-lg {
    max-width: 0;
  }
  .min-h-0-lg {
    min-height: 0;
  }
  .max-h-0-lg {
    max-height: 0;
  }
  .w-10-lg {
    width: 10%;
  }
  .h-10-lg {
    height: 10%;
  }
  .min-w-10-lg {
    min-width: 10%;
  }
  .max-w-10-lg {
    max-width: 10%;
  }
  .min-h-10-lg {
    min-height: 10%;
  }
  .max-h-10-lg {
    max-height: 10%;
  }
  .w-20-lg {
    width: 20%;
  }
  .h-20-lg {
    height: 20%;
  }
  .min-w-20-lg {
    min-width: 20%;
  }
  .max-w-20-lg {
    max-width: 20%;
  }
  .min-h-20-lg {
    min-height: 20%;
  }
  .max-h-20-lg {
    max-height: 20%;
  }
  .w-30-lg {
    width: 30%;
  }
  .h-30-lg {
    height: 30%;
  }
  .min-w-30-lg {
    min-width: 30%;
  }
  .max-w-30-lg {
    max-width: 30%;
  }
  .min-h-30-lg {
    min-height: 30%;
  }
  .max-h-30-lg {
    max-height: 30%;
  }
  .w-40-lg {
    width: 40%;
  }
  .h-40-lg {
    height: 40%;
  }
  .min-w-40-lg {
    min-width: 40%;
  }
  .max-w-40-lg {
    max-width: 40%;
  }
  .min-h-40-lg {
    min-height: 40%;
  }
  .max-h-40-lg {
    max-height: 40%;
  }
  .w-50-lg {
    width: 50%;
  }
  .h-50-lg {
    height: 50%;
  }
  .min-w-50-lg {
    min-width: 50%;
  }
  .max-w-50-lg {
    max-width: 50%;
  }
  .min-h-50-lg {
    min-height: 50%;
  }
  .max-h-50-lg {
    max-height: 50%;
  }
  .w-60-lg {
    width: 60%;
  }
  .h-60-lg {
    height: 60%;
  }
  .min-w-60-lg {
    min-width: 60%;
  }
  .max-w-60-lg {
    max-width: 60%;
  }
  .min-h-60-lg {
    min-height: 60%;
  }
  .max-h-60-lg {
    max-height: 60%;
  }
  .w-70-lg {
    width: 70%;
  }
  .h-70-lg {
    height: 70%;
  }
  .min-w-70-lg {
    min-width: 70%;
  }
  .max-w-70-lg {
    max-width: 70%;
  }
  .min-h-70-lg {
    min-height: 70%;
  }
  .max-h-70-lg {
    max-height: 70%;
  }
  .w-80-lg {
    width: 80%;
  }
  .h-80-lg {
    height: 80%;
  }
  .min-w-80-lg {
    min-width: 80%;
  }
  .max-w-80-lg {
    max-width: 80%;
  }
  .min-h-80-lg {
    min-height: 80%;
  }
  .max-h-80-lg {
    max-height: 80%;
  }
  .w-90-lg {
    width: 90%;
  }
  .h-90-lg {
    height: 90%;
  }
  .min-w-90-lg {
    min-width: 90%;
  }
  .max-w-90-lg {
    max-width: 90%;
  }
  .min-h-90-lg {
    min-height: 90%;
  }
  .max-h-90-lg {
    max-height: 90%;
  }
  .w-100-lg {
    width: 100%;
  }
  .h-100-lg {
    height: 100%;
  }
  .min-w-100-lg {
    min-width: 100%;
  }
  .max-w-100-lg {
    max-width: 100%;
  }
  .min-h-100-lg {
    min-height: 100%;
  }
  .max-h-100-lg {
    max-height: 100%;
  }
  .w-auto-lg {
    width: auto;
  }
  .h-auto-lg {
    height: auto;
  }
}
@media (min-width: 120rem) {
  .w-0-xl {
    width: 0;
  }
  .h-0-xl {
    height: 0;
  }
  .min-w-0-xl {
    min-width: 0;
  }
  .max-w-0-xl {
    max-width: 0;
  }
  .min-h-0-xl {
    min-height: 0;
  }
  .max-h-0-xl {
    max-height: 0;
  }
  .w-10-xl {
    width: 10%;
  }
  .h-10-xl {
    height: 10%;
  }
  .min-w-10-xl {
    min-width: 10%;
  }
  .max-w-10-xl {
    max-width: 10%;
  }
  .min-h-10-xl {
    min-height: 10%;
  }
  .max-h-10-xl {
    max-height: 10%;
  }
  .w-20-xl {
    width: 20%;
  }
  .h-20-xl {
    height: 20%;
  }
  .min-w-20-xl {
    min-width: 20%;
  }
  .max-w-20-xl {
    max-width: 20%;
  }
  .min-h-20-xl {
    min-height: 20%;
  }
  .max-h-20-xl {
    max-height: 20%;
  }
  .w-30-xl {
    width: 30%;
  }
  .h-30-xl {
    height: 30%;
  }
  .min-w-30-xl {
    min-width: 30%;
  }
  .max-w-30-xl {
    max-width: 30%;
  }
  .min-h-30-xl {
    min-height: 30%;
  }
  .max-h-30-xl {
    max-height: 30%;
  }
  .w-40-xl {
    width: 40%;
  }
  .h-40-xl {
    height: 40%;
  }
  .min-w-40-xl {
    min-width: 40%;
  }
  .max-w-40-xl {
    max-width: 40%;
  }
  .min-h-40-xl {
    min-height: 40%;
  }
  .max-h-40-xl {
    max-height: 40%;
  }
  .w-50-xl {
    width: 50%;
  }
  .h-50-xl {
    height: 50%;
  }
  .min-w-50-xl {
    min-width: 50%;
  }
  .max-w-50-xl {
    max-width: 50%;
  }
  .min-h-50-xl {
    min-height: 50%;
  }
  .max-h-50-xl {
    max-height: 50%;
  }
  .w-60-xl {
    width: 60%;
  }
  .h-60-xl {
    height: 60%;
  }
  .min-w-60-xl {
    min-width: 60%;
  }
  .max-w-60-xl {
    max-width: 60%;
  }
  .min-h-60-xl {
    min-height: 60%;
  }
  .max-h-60-xl {
    max-height: 60%;
  }
  .w-70-xl {
    width: 70%;
  }
  .h-70-xl {
    height: 70%;
  }
  .min-w-70-xl {
    min-width: 70%;
  }
  .max-w-70-xl {
    max-width: 70%;
  }
  .min-h-70-xl {
    min-height: 70%;
  }
  .max-h-70-xl {
    max-height: 70%;
  }
  .w-80-xl {
    width: 80%;
  }
  .h-80-xl {
    height: 80%;
  }
  .min-w-80-xl {
    min-width: 80%;
  }
  .max-w-80-xl {
    max-width: 80%;
  }
  .min-h-80-xl {
    min-height: 80%;
  }
  .max-h-80-xl {
    max-height: 80%;
  }
  .w-90-xl {
    width: 90%;
  }
  .h-90-xl {
    height: 90%;
  }
  .min-w-90-xl {
    min-width: 90%;
  }
  .max-w-90-xl {
    max-width: 90%;
  }
  .min-h-90-xl {
    min-height: 90%;
  }
  .max-h-90-xl {
    max-height: 90%;
  }
  .w-100-xl {
    width: 100%;
  }
  .h-100-xl {
    height: 100%;
  }
  .min-w-100-xl {
    min-width: 100%;
  }
  .max-w-100-xl {
    max-width: 100%;
  }
  .min-h-100-xl {
    min-height: 100%;
  }
  .max-h-100-xl {
    max-height: 100%;
  }
  .w-auto-xl {
    width: auto;
  }
  .h-auto-xl {
    height: auto;
  }
}
@media (min-width: 140rem) {
  .w-0-xxl {
    width: 0;
  }
  .h-0-xxl {
    height: 0;
  }
  .min-w-0-xxl {
    min-width: 0;
  }
  .max-w-0-xxl {
    max-width: 0;
  }
  .min-h-0-xxl {
    min-height: 0;
  }
  .max-h-0-xxl {
    max-height: 0;
  }
  .w-10-xxl {
    width: 10%;
  }
  .h-10-xxl {
    height: 10%;
  }
  .min-w-10-xxl {
    min-width: 10%;
  }
  .max-w-10-xxl {
    max-width: 10%;
  }
  .min-h-10-xxl {
    min-height: 10%;
  }
  .max-h-10-xxl {
    max-height: 10%;
  }
  .w-20-xxl {
    width: 20%;
  }
  .h-20-xxl {
    height: 20%;
  }
  .min-w-20-xxl {
    min-width: 20%;
  }
  .max-w-20-xxl {
    max-width: 20%;
  }
  .min-h-20-xxl {
    min-height: 20%;
  }
  .max-h-20-xxl {
    max-height: 20%;
  }
  .w-30-xxl {
    width: 30%;
  }
  .h-30-xxl {
    height: 30%;
  }
  .min-w-30-xxl {
    min-width: 30%;
  }
  .max-w-30-xxl {
    max-width: 30%;
  }
  .min-h-30-xxl {
    min-height: 30%;
  }
  .max-h-30-xxl {
    max-height: 30%;
  }
  .w-40-xxl {
    width: 40%;
  }
  .h-40-xxl {
    height: 40%;
  }
  .min-w-40-xxl {
    min-width: 40%;
  }
  .max-w-40-xxl {
    max-width: 40%;
  }
  .min-h-40-xxl {
    min-height: 40%;
  }
  .max-h-40-xxl {
    max-height: 40%;
  }
  .w-50-xxl {
    width: 50%;
  }
  .h-50-xxl {
    height: 50%;
  }
  .min-w-50-xxl {
    min-width: 50%;
  }
  .max-w-50-xxl {
    max-width: 50%;
  }
  .min-h-50-xxl {
    min-height: 50%;
  }
  .max-h-50-xxl {
    max-height: 50%;
  }
  .w-60-xxl {
    width: 60%;
  }
  .h-60-xxl {
    height: 60%;
  }
  .min-w-60-xxl {
    min-width: 60%;
  }
  .max-w-60-xxl {
    max-width: 60%;
  }
  .min-h-60-xxl {
    min-height: 60%;
  }
  .max-h-60-xxl {
    max-height: 60%;
  }
  .w-70-xxl {
    width: 70%;
  }
  .h-70-xxl {
    height: 70%;
  }
  .min-w-70-xxl {
    min-width: 70%;
  }
  .max-w-70-xxl {
    max-width: 70%;
  }
  .min-h-70-xxl {
    min-height: 70%;
  }
  .max-h-70-xxl {
    max-height: 70%;
  }
  .w-80-xxl {
    width: 80%;
  }
  .h-80-xxl {
    height: 80%;
  }
  .min-w-80-xxl {
    min-width: 80%;
  }
  .max-w-80-xxl {
    max-width: 80%;
  }
  .min-h-80-xxl {
    min-height: 80%;
  }
  .max-h-80-xxl {
    max-height: 80%;
  }
  .w-90-xxl {
    width: 90%;
  }
  .h-90-xxl {
    height: 90%;
  }
  .min-w-90-xxl {
    min-width: 90%;
  }
  .max-w-90-xxl {
    max-width: 90%;
  }
  .min-h-90-xxl {
    min-height: 90%;
  }
  .max-h-90-xxl {
    max-height: 90%;
  }
  .w-100-xxl {
    width: 100%;
  }
  .h-100-xxl {
    height: 100%;
  }
  .min-w-100-xxl {
    min-width: 100%;
  }
  .max-w-100-xxl {
    max-width: 100%;
  }
  .min-h-100-xxl {
    min-height: 100%;
  }
  .max-h-100-xxl {
    max-height: 100%;
  }
  .w-auto-xxl {
    width: auto;
  }
  .h-auto-xxl {
    height: auto;
  }
}
/* Viewport height (vh) */
.vh-0 {
  height: 0;
}

.min-vh-0 {
  min-height: 0;
}

.max-vh-0 {
  max-height: 0;
}

.vh-10 {
  height: 10vh;
}

.min-vh-10 {
  min-height: 10vh;
}

.max-vh-10 {
  max-height: 10vh;
}

.vh-20 {
  height: 20vh;
}

.min-vh-20 {
  min-height: 20vh;
}

.max-vh-20 {
  max-height: 20vh;
}

.vh-30 {
  height: 30vh;
}

.min-vh-30 {
  min-height: 30vh;
}

.max-vh-30 {
  max-height: 30vh;
}

.vh-40 {
  height: 40vh;
}

.min-vh-40 {
  min-height: 40vh;
}

.max-vh-40 {
  max-height: 40vh;
}

.vh-50 {
  height: 50vh;
}

.min-vh-50 {
  min-height: 50vh;
}

.max-vh-50 {
  max-height: 50vh;
}

.vh-60 {
  height: 60vh;
}

.min-vh-60 {
  min-height: 60vh;
}

.max-vh-60 {
  max-height: 60vh;
}

.vh-70 {
  height: 70vh;
}

.min-vh-70 {
  min-height: 70vh;
}

.max-vh-70 {
  max-height: 70vh;
}

.vh-75 {
  height: 75vh;
}

.min-vh-75 {
  min-height: 75vh;
}

.max-vh-75 {
  max-height: 75vh;
}

.vh-80 {
  height: 80vh;
}

.min-vh-80 {
  min-height: 80vh;
}

.max-vh-80 {
  max-height: 80vh;
}

.vh-90 {
  height: 90vh;
}

.min-vh-90 {
  min-height: 90vh;
}

.max-vh-90 {
  max-height: 90vh;
}

.vh-100 {
  height: 100vh;
}

.min-vh-100 {
  min-height: 100vh;
}

.max-vh-100 {
  max-height: 100vh;
}

@media (min-width: 42.5rem) {
  .vh-0-xs {
    height: 0;
  }
  .min-vh-0-xs {
    min-height: 0;
  }
  .max-vh-0-xs {
    max-height: 0;
  }
  .vh-10-xs {
    height: 10vh;
  }
  .min-vh-10-xs {
    min-height: 10vh;
  }
  .max-vh-10-xs {
    max-height: 10vh;
  }
  .vh-20-xs {
    height: 20vh;
  }
  .min-vh-20-xs {
    min-height: 20vh;
  }
  .max-vh-20-xs {
    max-height: 20vh;
  }
  .vh-30-xs {
    height: 30vh;
  }
  .min-vh-30-xs {
    min-height: 30vh;
  }
  .max-vh-30-xs {
    max-height: 30vh;
  }
  .vh-40-xs {
    height: 40vh;
  }
  .min-vh-40-xs {
    min-height: 40vh;
  }
  .max-vh-40-xs {
    max-height: 40vh;
  }
  .vh-50-xs {
    height: 50vh;
  }
  .min-vh-50-xs {
    min-height: 50vh;
  }
  .max-vh-50-xs {
    max-height: 50vh;
  }
  .vh-60-xs {
    height: 60vh;
  }
  .min-vh-60-xs {
    min-height: 60vh;
  }
  .max-vh-60-xs {
    max-height: 60vh;
  }
  .vh-70-xs {
    height: 70vh;
  }
  .min-vh-70-xs {
    min-height: 70vh;
  }
  .max-vh-70-xs {
    max-height: 70vh;
  }
  .vh-75-xs {
    height: 75vh;
  }
  .min-vh-75-xs {
    min-height: 75vh;
  }
  .max-vh-75-xs {
    max-height: 75vh;
  }
  .vh-80-xs {
    height: 80vh;
  }
  .min-vh-80-xs {
    min-height: 80vh;
  }
  .max-vh-80-xs {
    max-height: 80vh;
  }
  .vh-90-xs {
    height: 90vh;
  }
  .min-vh-90-xs {
    min-height: 90vh;
  }
  .max-vh-90-xs {
    max-height: 90vh;
  }
  .vh-100-xs {
    height: 100vh;
  }
  .min-vh-100-xs {
    min-height: 100vh;
  }
  .max-vh-100-xs {
    max-height: 100vh;
  }
}
@media (min-width: 57.6rem) {
  .vh-0-sm {
    height: 0;
  }
  .min-vh-0-sm {
    min-height: 0;
  }
  .max-vh-0-sm {
    max-height: 0;
  }
  .vh-10-sm {
    height: 10vh;
  }
  .min-vh-10-sm {
    min-height: 10vh;
  }
  .max-vh-10-sm {
    max-height: 10vh;
  }
  .vh-20-sm {
    height: 20vh;
  }
  .min-vh-20-sm {
    min-height: 20vh;
  }
  .max-vh-20-sm {
    max-height: 20vh;
  }
  .vh-30-sm {
    height: 30vh;
  }
  .min-vh-30-sm {
    min-height: 30vh;
  }
  .max-vh-30-sm {
    max-height: 30vh;
  }
  .vh-40-sm {
    height: 40vh;
  }
  .min-vh-40-sm {
    min-height: 40vh;
  }
  .max-vh-40-sm {
    max-height: 40vh;
  }
  .vh-50-sm {
    height: 50vh;
  }
  .min-vh-50-sm {
    min-height: 50vh;
  }
  .max-vh-50-sm {
    max-height: 50vh;
  }
  .vh-60-sm {
    height: 60vh;
  }
  .min-vh-60-sm {
    min-height: 60vh;
  }
  .max-vh-60-sm {
    max-height: 60vh;
  }
  .vh-70-sm {
    height: 70vh;
  }
  .min-vh-70-sm {
    min-height: 70vh;
  }
  .max-vh-70-sm {
    max-height: 70vh;
  }
  .vh-75-sm {
    height: 75vh;
  }
  .min-vh-75-sm {
    min-height: 75vh;
  }
  .max-vh-75-sm {
    max-height: 75vh;
  }
  .vh-80-sm {
    height: 80vh;
  }
  .min-vh-80-sm {
    min-height: 80vh;
  }
  .max-vh-80-sm {
    max-height: 80vh;
  }
  .vh-90-sm {
    height: 90vh;
  }
  .min-vh-90-sm {
    min-height: 90vh;
  }
  .max-vh-90-sm {
    max-height: 90vh;
  }
  .vh-100-sm {
    height: 100vh;
  }
  .min-vh-100-sm {
    min-height: 100vh;
  }
  .max-vh-100-sm {
    max-height: 100vh;
  }
}
@media (min-width: 76.8rem) {
  .vh-0-md {
    height: 0;
  }
  .min-vh-0-md {
    min-height: 0;
  }
  .max-vh-0-md {
    max-height: 0;
  }
  .vh-10-md {
    height: 10vh;
  }
  .min-vh-10-md {
    min-height: 10vh;
  }
  .max-vh-10-md {
    max-height: 10vh;
  }
  .vh-20-md {
    height: 20vh;
  }
  .min-vh-20-md {
    min-height: 20vh;
  }
  .max-vh-20-md {
    max-height: 20vh;
  }
  .vh-30-md {
    height: 30vh;
  }
  .min-vh-30-md {
    min-height: 30vh;
  }
  .max-vh-30-md {
    max-height: 30vh;
  }
  .vh-40-md {
    height: 40vh;
  }
  .min-vh-40-md {
    min-height: 40vh;
  }
  .max-vh-40-md {
    max-height: 40vh;
  }
  .vh-50-md {
    height: 50vh;
  }
  .min-vh-50-md {
    min-height: 50vh;
  }
  .max-vh-50-md {
    max-height: 50vh;
  }
  .vh-60-md {
    height: 60vh;
  }
  .min-vh-60-md {
    min-height: 60vh;
  }
  .max-vh-60-md {
    max-height: 60vh;
  }
  .vh-70-md {
    height: 70vh;
  }
  .min-vh-70-md {
    min-height: 70vh;
  }
  .max-vh-70-md {
    max-height: 70vh;
  }
  .vh-75-md {
    height: 75vh;
  }
  .min-vh-75-md {
    min-height: 75vh;
  }
  .max-vh-75-md {
    max-height: 75vh;
  }
  .vh-80-md {
    height: 80vh;
  }
  .min-vh-80-md {
    min-height: 80vh;
  }
  .max-vh-80-md {
    max-height: 80vh;
  }
  .vh-90-md {
    height: 90vh;
  }
  .min-vh-90-md {
    min-height: 90vh;
  }
  .max-vh-90-md {
    max-height: 90vh;
  }
  .vh-100-md {
    height: 100vh;
  }
  .min-vh-100-md {
    min-height: 100vh;
  }
  .max-vh-100-md {
    max-height: 100vh;
  }
}
@media (min-width: 99.2rem) {
  .vh-0-lg {
    height: 0;
  }
  .min-vh-0-lg {
    min-height: 0;
  }
  .max-vh-0-lg {
    max-height: 0;
  }
  .vh-10-lg {
    height: 10vh;
  }
  .min-vh-10-lg {
    min-height: 10vh;
  }
  .max-vh-10-lg {
    max-height: 10vh;
  }
  .vh-20-lg {
    height: 20vh;
  }
  .min-vh-20-lg {
    min-height: 20vh;
  }
  .max-vh-20-lg {
    max-height: 20vh;
  }
  .vh-30-lg {
    height: 30vh;
  }
  .min-vh-30-lg {
    min-height: 30vh;
  }
  .max-vh-30-lg {
    max-height: 30vh;
  }
  .vh-40-lg {
    height: 40vh;
  }
  .min-vh-40-lg {
    min-height: 40vh;
  }
  .max-vh-40-lg {
    max-height: 40vh;
  }
  .vh-50-lg {
    height: 50vh;
  }
  .min-vh-50-lg {
    min-height: 50vh;
  }
  .max-vh-50-lg {
    max-height: 50vh;
  }
  .vh-60-lg {
    height: 60vh;
  }
  .min-vh-60-lg {
    min-height: 60vh;
  }
  .max-vh-60-lg {
    max-height: 60vh;
  }
  .vh-70-lg {
    height: 70vh;
  }
  .min-vh-70-lg {
    min-height: 70vh;
  }
  .max-vh-70-lg {
    max-height: 70vh;
  }
  .vh-75-lg {
    height: 75vh;
  }
  .min-vh-75-lg {
    min-height: 75vh;
  }
  .max-vh-75-lg {
    max-height: 75vh;
  }
  .vh-80-lg {
    height: 80vh;
  }
  .min-vh-80-lg {
    min-height: 80vh;
  }
  .max-vh-80-lg {
    max-height: 80vh;
  }
  .vh-90-lg {
    height: 90vh;
  }
  .min-vh-90-lg {
    min-height: 90vh;
  }
  .max-vh-90-lg {
    max-height: 90vh;
  }
  .vh-100-lg {
    height: 100vh;
  }
  .min-vh-100-lg {
    min-height: 100vh;
  }
  .max-vh-100-lg {
    max-height: 100vh;
  }
}
@media (min-width: 120rem) {
  .vh-0-xl {
    height: 0;
  }
  .min-vh-0-xl {
    min-height: 0;
  }
  .max-vh-0-xl {
    max-height: 0;
  }
  .vh-10-xl {
    height: 10vh;
  }
  .min-vh-10-xl {
    min-height: 10vh;
  }
  .max-vh-10-xl {
    max-height: 10vh;
  }
  .vh-20-xl {
    height: 20vh;
  }
  .min-vh-20-xl {
    min-height: 20vh;
  }
  .max-vh-20-xl {
    max-height: 20vh;
  }
  .vh-30-xl {
    height: 30vh;
  }
  .min-vh-30-xl {
    min-height: 30vh;
  }
  .max-vh-30-xl {
    max-height: 30vh;
  }
  .vh-40-xl {
    height: 40vh;
  }
  .min-vh-40-xl {
    min-height: 40vh;
  }
  .max-vh-40-xl {
    max-height: 40vh;
  }
  .vh-50-xl {
    height: 50vh;
  }
  .min-vh-50-xl {
    min-height: 50vh;
  }
  .max-vh-50-xl {
    max-height: 50vh;
  }
  .vh-60-xl {
    height: 60vh;
  }
  .min-vh-60-xl {
    min-height: 60vh;
  }
  .max-vh-60-xl {
    max-height: 60vh;
  }
  .vh-70-xl {
    height: 70vh;
  }
  .min-vh-70-xl {
    min-height: 70vh;
  }
  .max-vh-70-xl {
    max-height: 70vh;
  }
  .vh-75-xl {
    height: 75vh;
  }
  .min-vh-75-xl {
    min-height: 75vh;
  }
  .max-vh-75-xl {
    max-height: 75vh;
  }
  .vh-80-xl {
    height: 80vh;
  }
  .min-vh-80-xl {
    min-height: 80vh;
  }
  .max-vh-80-xl {
    max-height: 80vh;
  }
  .vh-90-xl {
    height: 90vh;
  }
  .min-vh-90-xl {
    min-height: 90vh;
  }
  .max-vh-90-xl {
    max-height: 90vh;
  }
  .vh-100-xl {
    height: 100vh;
  }
  .min-vh-100-xl {
    min-height: 100vh;
  }
  .max-vh-100-xl {
    max-height: 100vh;
  }
}
@media (min-width: 140rem) {
  .vh-0-xxl {
    height: 0;
  }
  .min-vh-0-xxl {
    min-height: 0;
  }
  .max-vh-0-xxl {
    max-height: 0;
  }
  .vh-10-xxl {
    height: 10vh;
  }
  .min-vh-10-xxl {
    min-height: 10vh;
  }
  .max-vh-10-xxl {
    max-height: 10vh;
  }
  .vh-20-xxl {
    height: 20vh;
  }
  .min-vh-20-xxl {
    min-height: 20vh;
  }
  .max-vh-20-xxl {
    max-height: 20vh;
  }
  .vh-30-xxl {
    height: 30vh;
  }
  .min-vh-30-xxl {
    min-height: 30vh;
  }
  .max-vh-30-xxl {
    max-height: 30vh;
  }
  .vh-40-xxl {
    height: 40vh;
  }
  .min-vh-40-xxl {
    min-height: 40vh;
  }
  .max-vh-40-xxl {
    max-height: 40vh;
  }
  .vh-50-xxl {
    height: 50vh;
  }
  .min-vh-50-xxl {
    min-height: 50vh;
  }
  .max-vh-50-xxl {
    max-height: 50vh;
  }
  .vh-60-xxl {
    height: 60vh;
  }
  .min-vh-60-xxl {
    min-height: 60vh;
  }
  .max-vh-60-xxl {
    max-height: 60vh;
  }
  .vh-70-xxl {
    height: 70vh;
  }
  .min-vh-70-xxl {
    min-height: 70vh;
  }
  .max-vh-70-xxl {
    max-height: 70vh;
  }
  .vh-75-xxl {
    height: 75vh;
  }
  .min-vh-75-xxl {
    min-height: 75vh;
  }
  .max-vh-75-xxl {
    max-height: 75vh;
  }
  .vh-80-xxl {
    height: 80vh;
  }
  .min-vh-80-xxl {
    min-height: 80vh;
  }
  .max-vh-80-xxl {
    max-height: 80vh;
  }
  .vh-90-xxl {
    height: 90vh;
  }
  .min-vh-90-xxl {
    min-height: 90vh;
  }
  .max-vh-90-xxl {
    max-height: 90vh;
  }
  .vh-100-xxl {
    height: 100vh;
  }
  .min-vh-100-xxl {
    min-height: 100vh;
  }
  .max-vh-100-xxl {
    max-height: 100vh;
  }
}
/* Viewport width (vw) */
.vw-0 {
  width: 0;
}

.min-vw-0 {
  min-width: 0;
}

.max-vw-0 {
  max-width: 0;
}

.vw-10 {
  width: 10vw;
}

.min-vw-10 {
  min-width: 10vw;
}

.max-vw-10 {
  max-width: 10vw;
}

.vw-20 {
  width: 20vw;
}

.min-vw-20 {
  min-width: 20vw;
}

.max-vw-20 {
  max-width: 20vw;
}

.vw-30 {
  width: 30vw;
}

.min-vw-30 {
  min-width: 30vw;
}

.max-vw-30 {
  max-width: 30vw;
}

.vw-40 {
  width: 40vw;
}

.min-vw-40 {
  min-width: 40vw;
}

.max-vw-40 {
  max-width: 40vw;
}

.vw-50 {
  width: 50vw;
}

.min-vw-50 {
  min-width: 50vw;
}

.max-vw-50 {
  max-width: 50vw;
}

.vw-60 {
  width: 60vw;
}

.min-vw-60 {
  min-width: 60vw;
}

.max-vw-60 {
  max-width: 60vw;
}

.vw-70 {
  width: 70vw;
}

.min-vw-70 {
  min-width: 70vw;
}

.max-vw-70 {
  max-width: 70vw;
}

.vw-75 {
  width: 75vw;
}

.min-vw-75 {
  min-width: 75vw;
}

.max-vw-75 {
  max-width: 75vw;
}

.vw-80 {
  width: 80vw;
}

.min-vw-80 {
  min-width: 80vw;
}

.max-vw-80 {
  max-width: 80vw;
}

.vw-90 {
  width: 90vw;
}

.min-vw-90 {
  min-width: 90vw;
}

.max-vw-90 {
  max-width: 90vw;
}

.vw-100 {
  width: 100vw;
}

.min-vw-100 {
  min-width: 100vw;
}

.max-vw-100 {
  max-width: 100vw;
}

@media (min-width: 42.5rem) {
  .vw-0-xs {
    width: 0;
  }
  .min-vw-0-xs {
    min-width: 0;
  }
  .max-vw-0-xs {
    max-width: 0;
  }
  .vw-10-xs {
    width: 10vw;
  }
  .min-vw-10-xs {
    min-width: 10vw;
  }
  .max-vw-10-xs {
    max-width: 10vw;
  }
  .vw-20-xs {
    width: 20vw;
  }
  .min-vw-20-xs {
    min-width: 20vw;
  }
  .max-vw-20-xs {
    max-width: 20vw;
  }
  .vw-30-xs {
    width: 30vw;
  }
  .min-vw-30-xs {
    min-width: 30vw;
  }
  .max-vw-30-xs {
    max-width: 30vw;
  }
  .vw-40-xs {
    width: 40vw;
  }
  .min-vw-40-xs {
    min-width: 40vw;
  }
  .max-vw-40-xs {
    max-width: 40vw;
  }
  .vw-50-xs {
    width: 50vw;
  }
  .min-vw-50-xs {
    min-width: 50vw;
  }
  .max-vw-50-xs {
    max-width: 50vw;
  }
  .vw-60-xs {
    width: 60vw;
  }
  .min-vw-60-xs {
    min-width: 60vw;
  }
  .max-vw-60-xs {
    max-width: 60vw;
  }
  .vw-70-xs {
    width: 70vw;
  }
  .min-vw-70-xs {
    min-width: 70vw;
  }
  .max-vw-70-xs {
    max-width: 70vw;
  }
  .vw-75-xs {
    width: 75vw;
  }
  .min-vw-75-xs {
    min-width: 75vw;
  }
  .max-vw-75-xs {
    max-width: 75vw;
  }
  .vw-80-xs {
    width: 80vw;
  }
  .min-vw-80-xs {
    min-width: 80vw;
  }
  .max-vw-80-xs {
    max-width: 80vw;
  }
  .vw-90-xs {
    width: 90vw;
  }
  .min-vw-90-xs {
    min-width: 90vw;
  }
  .max-vw-90-xs {
    max-width: 90vw;
  }
  .vw-100-xs {
    width: 100vw;
  }
  .min-vw-100-xs {
    min-width: 100vw;
  }
  .max-vw-100-xs {
    max-width: 100vw;
  }
}
@media (min-width: 57.6rem) {
  .vw-0-sm {
    width: 0;
  }
  .min-vw-0-sm {
    min-width: 0;
  }
  .max-vw-0-sm {
    max-width: 0;
  }
  .vw-10-sm {
    width: 10vw;
  }
  .min-vw-10-sm {
    min-width: 10vw;
  }
  .max-vw-10-sm {
    max-width: 10vw;
  }
  .vw-20-sm {
    width: 20vw;
  }
  .min-vw-20-sm {
    min-width: 20vw;
  }
  .max-vw-20-sm {
    max-width: 20vw;
  }
  .vw-30-sm {
    width: 30vw;
  }
  .min-vw-30-sm {
    min-width: 30vw;
  }
  .max-vw-30-sm {
    max-width: 30vw;
  }
  .vw-40-sm {
    width: 40vw;
  }
  .min-vw-40-sm {
    min-width: 40vw;
  }
  .max-vw-40-sm {
    max-width: 40vw;
  }
  .vw-50-sm {
    width: 50vw;
  }
  .min-vw-50-sm {
    min-width: 50vw;
  }
  .max-vw-50-sm {
    max-width: 50vw;
  }
  .vw-60-sm {
    width: 60vw;
  }
  .min-vw-60-sm {
    min-width: 60vw;
  }
  .max-vw-60-sm {
    max-width: 60vw;
  }
  .vw-70-sm {
    width: 70vw;
  }
  .min-vw-70-sm {
    min-width: 70vw;
  }
  .max-vw-70-sm {
    max-width: 70vw;
  }
  .vw-75-sm {
    width: 75vw;
  }
  .min-vw-75-sm {
    min-width: 75vw;
  }
  .max-vw-75-sm {
    max-width: 75vw;
  }
  .vw-80-sm {
    width: 80vw;
  }
  .min-vw-80-sm {
    min-width: 80vw;
  }
  .max-vw-80-sm {
    max-width: 80vw;
  }
  .vw-90-sm {
    width: 90vw;
  }
  .min-vw-90-sm {
    min-width: 90vw;
  }
  .max-vw-90-sm {
    max-width: 90vw;
  }
  .vw-100-sm {
    width: 100vw;
  }
  .min-vw-100-sm {
    min-width: 100vw;
  }
  .max-vw-100-sm {
    max-width: 100vw;
  }
}
@media (min-width: 76.8rem) {
  .vw-0-md {
    width: 0;
  }
  .min-vw-0-md {
    min-width: 0;
  }
  .max-vw-0-md {
    max-width: 0;
  }
  .vw-10-md {
    width: 10vw;
  }
  .min-vw-10-md {
    min-width: 10vw;
  }
  .max-vw-10-md {
    max-width: 10vw;
  }
  .vw-20-md {
    width: 20vw;
  }
  .min-vw-20-md {
    min-width: 20vw;
  }
  .max-vw-20-md {
    max-width: 20vw;
  }
  .vw-30-md {
    width: 30vw;
  }
  .min-vw-30-md {
    min-width: 30vw;
  }
  .max-vw-30-md {
    max-width: 30vw;
  }
  .vw-40-md {
    width: 40vw;
  }
  .min-vw-40-md {
    min-width: 40vw;
  }
  .max-vw-40-md {
    max-width: 40vw;
  }
  .vw-50-md {
    width: 50vw;
  }
  .min-vw-50-md {
    min-width: 50vw;
  }
  .max-vw-50-md {
    max-width: 50vw;
  }
  .vw-60-md {
    width: 60vw;
  }
  .min-vw-60-md {
    min-width: 60vw;
  }
  .max-vw-60-md {
    max-width: 60vw;
  }
  .vw-70-md {
    width: 70vw;
  }
  .min-vw-70-md {
    min-width: 70vw;
  }
  .max-vw-70-md {
    max-width: 70vw;
  }
  .vw-75-md {
    width: 75vw;
  }
  .min-vw-75-md {
    min-width: 75vw;
  }
  .max-vw-75-md {
    max-width: 75vw;
  }
  .vw-80-md {
    width: 80vw;
  }
  .min-vw-80-md {
    min-width: 80vw;
  }
  .max-vw-80-md {
    max-width: 80vw;
  }
  .vw-90-md {
    width: 90vw;
  }
  .min-vw-90-md {
    min-width: 90vw;
  }
  .max-vw-90-md {
    max-width: 90vw;
  }
  .vw-100-md {
    width: 100vw;
  }
  .min-vw-100-md {
    min-width: 100vw;
  }
  .max-vw-100-md {
    max-width: 100vw;
  }
}
@media (min-width: 99.2rem) {
  .vw-0-lg {
    width: 0;
  }
  .min-vw-0-lg {
    min-width: 0;
  }
  .max-vw-0-lg {
    max-width: 0;
  }
  .vw-10-lg {
    width: 10vw;
  }
  .min-vw-10-lg {
    min-width: 10vw;
  }
  .max-vw-10-lg {
    max-width: 10vw;
  }
  .vw-20-lg {
    width: 20vw;
  }
  .min-vw-20-lg {
    min-width: 20vw;
  }
  .max-vw-20-lg {
    max-width: 20vw;
  }
  .vw-30-lg {
    width: 30vw;
  }
  .min-vw-30-lg {
    min-width: 30vw;
  }
  .max-vw-30-lg {
    max-width: 30vw;
  }
  .vw-40-lg {
    width: 40vw;
  }
  .min-vw-40-lg {
    min-width: 40vw;
  }
  .max-vw-40-lg {
    max-width: 40vw;
  }
  .vw-50-lg {
    width: 50vw;
  }
  .min-vw-50-lg {
    min-width: 50vw;
  }
  .max-vw-50-lg {
    max-width: 50vw;
  }
  .vw-60-lg {
    width: 60vw;
  }
  .min-vw-60-lg {
    min-width: 60vw;
  }
  .max-vw-60-lg {
    max-width: 60vw;
  }
  .vw-70-lg {
    width: 70vw;
  }
  .min-vw-70-lg {
    min-width: 70vw;
  }
  .max-vw-70-lg {
    max-width: 70vw;
  }
  .vw-75-lg {
    width: 75vw;
  }
  .min-vw-75-lg {
    min-width: 75vw;
  }
  .max-vw-75-lg {
    max-width: 75vw;
  }
  .vw-80-lg {
    width: 80vw;
  }
  .min-vw-80-lg {
    min-width: 80vw;
  }
  .max-vw-80-lg {
    max-width: 80vw;
  }
  .vw-90-lg {
    width: 90vw;
  }
  .min-vw-90-lg {
    min-width: 90vw;
  }
  .max-vw-90-lg {
    max-width: 90vw;
  }
  .vw-100-lg {
    width: 100vw;
  }
  .min-vw-100-lg {
    min-width: 100vw;
  }
  .max-vw-100-lg {
    max-width: 100vw;
  }
}
@media (min-width: 120rem) {
  .vw-0-xl {
    width: 0;
  }
  .min-vw-0-xl {
    min-width: 0;
  }
  .max-vw-0-xl {
    max-width: 0;
  }
  .vw-10-xl {
    width: 10vw;
  }
  .min-vw-10-xl {
    min-width: 10vw;
  }
  .max-vw-10-xl {
    max-width: 10vw;
  }
  .vw-20-xl {
    width: 20vw;
  }
  .min-vw-20-xl {
    min-width: 20vw;
  }
  .max-vw-20-xl {
    max-width: 20vw;
  }
  .vw-30-xl {
    width: 30vw;
  }
  .min-vw-30-xl {
    min-width: 30vw;
  }
  .max-vw-30-xl {
    max-width: 30vw;
  }
  .vw-40-xl {
    width: 40vw;
  }
  .min-vw-40-xl {
    min-width: 40vw;
  }
  .max-vw-40-xl {
    max-width: 40vw;
  }
  .vw-50-xl {
    width: 50vw;
  }
  .min-vw-50-xl {
    min-width: 50vw;
  }
  .max-vw-50-xl {
    max-width: 50vw;
  }
  .vw-60-xl {
    width: 60vw;
  }
  .min-vw-60-xl {
    min-width: 60vw;
  }
  .max-vw-60-xl {
    max-width: 60vw;
  }
  .vw-70-xl {
    width: 70vw;
  }
  .min-vw-70-xl {
    min-width: 70vw;
  }
  .max-vw-70-xl {
    max-width: 70vw;
  }
  .vw-75-xl {
    width: 75vw;
  }
  .min-vw-75-xl {
    min-width: 75vw;
  }
  .max-vw-75-xl {
    max-width: 75vw;
  }
  .vw-80-xl {
    width: 80vw;
  }
  .min-vw-80-xl {
    min-width: 80vw;
  }
  .max-vw-80-xl {
    max-width: 80vw;
  }
  .vw-90-xl {
    width: 90vw;
  }
  .min-vw-90-xl {
    min-width: 90vw;
  }
  .max-vw-90-xl {
    max-width: 90vw;
  }
  .vw-100-xl {
    width: 100vw;
  }
  .min-vw-100-xl {
    min-width: 100vw;
  }
  .max-vw-100-xl {
    max-width: 100vw;
  }
}
@media (min-width: 140rem) {
  .vw-0-xxl {
    width: 0;
  }
  .min-vw-0-xxl {
    min-width: 0;
  }
  .max-vw-0-xxl {
    max-width: 0;
  }
  .vw-10-xxl {
    width: 10vw;
  }
  .min-vw-10-xxl {
    min-width: 10vw;
  }
  .max-vw-10-xxl {
    max-width: 10vw;
  }
  .vw-20-xxl {
    width: 20vw;
  }
  .min-vw-20-xxl {
    min-width: 20vw;
  }
  .max-vw-20-xxl {
    max-width: 20vw;
  }
  .vw-30-xxl {
    width: 30vw;
  }
  .min-vw-30-xxl {
    min-width: 30vw;
  }
  .max-vw-30-xxl {
    max-width: 30vw;
  }
  .vw-40-xxl {
    width: 40vw;
  }
  .min-vw-40-xxl {
    min-width: 40vw;
  }
  .max-vw-40-xxl {
    max-width: 40vw;
  }
  .vw-50-xxl {
    width: 50vw;
  }
  .min-vw-50-xxl {
    min-width: 50vw;
  }
  .max-vw-50-xxl {
    max-width: 50vw;
  }
  .vw-60-xxl {
    width: 60vw;
  }
  .min-vw-60-xxl {
    min-width: 60vw;
  }
  .max-vw-60-xxl {
    max-width: 60vw;
  }
  .vw-70-xxl {
    width: 70vw;
  }
  .min-vw-70-xxl {
    min-width: 70vw;
  }
  .max-vw-70-xxl {
    max-width: 70vw;
  }
  .vw-75-xxl {
    width: 75vw;
  }
  .min-vw-75-xxl {
    min-width: 75vw;
  }
  .max-vw-75-xxl {
    max-width: 75vw;
  }
  .vw-80-xxl {
    width: 80vw;
  }
  .min-vw-80-xxl {
    min-width: 80vw;
  }
  .max-vw-80-xxl {
    max-width: 80vw;
  }
  .vw-90-xxl {
    width: 90vw;
  }
  .min-vw-90-xxl {
    min-width: 90vw;
  }
  .max-vw-90-xxl {
    max-width: 90vw;
  }
  .vw-100-xxl {
    width: 100vw;
  }
  .min-vw-100-xxl {
    min-width: 100vw;
  }
  .max-vw-100-xxl {
    max-width: 100vw;
  }
}
