{% extends 'base.html.twig' %}

{% block title %}Width & Height Utilities{% endblock %}

{% block body %}
    <div class="container-sm">
        <div class="d-flex fd-column gap-5">

            {# Intro #}
            <div class="card h-100 p-2">
                <div class="card-header">
                    <h2>📏 Width &amp; Height</h2>
                </div>
            </div>

            {# What are sizing utilities used for? #}
            <div class="card h-100 p-2">
                <div class="card-header">
                    <h2>📐 What are sizing utilities used for?</h2>
                </div>

                <div class="card-body">
                    <p class="p-1">
                        Sizing utilities control an element’s width and height using percentage-based values,
                        as well as viewport-relative units (<code>vh</code> and <code>vw</code>).<br>
                        They also provide <code>min-*</code> and <code>max-*</code> variants to constrain
                        how far an element can grow or shrink.
                    </p>

                    <p class="p-1">
                        All these utilities are generated from a shared set of maps:
                        <code class="text-bold text-primary">$sizesPercent</code>,
                        <code class="text-bold text-primary">$vh-sizes</code>,
                        and
                        <code class="text-bold text-primary">$vw-sizes</code>,
                        and they support responsive variants based on the global
                        <code class="text-bold text-primary">$breakpoints</code> configuration.
                    </p>
                </div>
            </div>

            {# Utilities Reference #}
            <div class="card h-100 p-2">
                <div class="card-header">
                    <h2>📏 Width &amp; Height Utilities Reference</h2>
                </div>

                <div class="card-body">
                    <p class="p-1">
                        All utilities come from three size maps:
                        <br>
                        Value:
                        <code class="text-bold text-primary">0</code>,
                        <code class="text-bold text-primary">10</code>,
                        <code class="text-bold text-primary">20</code>,
                        <code class="text-bold text-primary">30</code>,
                        <code class="text-bold text-primary">40</code>,
                        <code class="text-bold text-primary">50</code>,
                        <code class="text-bold text-primary">60</code>,
                        <code class="text-bold text-primary">70</code>,
                        <code class="text-bold text-primary">80</code>,
                        <code class="text-bold text-primary">90</code>,
                        <code class="text-bold text-primary">100</code>,
                        <code class="text-bold text-primary">auto</code>,
                        <br>
                        Breakpoint:
                        <code class="text-bold text-primary">xs</code>,
                        <code class="text-bold text-primary">sm</code>,
                        <code class="text-bold text-primary">md</code>,
                        <code class="text-bold text-primary">lg</code>,
                        <code class="text-bold text-primary">xl</code>,
                        <code class="text-bold text-primary">xxl</code>,
                    </p>

                    <div class="row mt-2">

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.w-{value}</code>
                                <p class="mt-1">
                                    Sets the element width using one of the available values (including
                                    <code>auto</code>).
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.w-{value}-{breakpoint}</code>
                                <p class="mt-1">
                                    Sets the element width from a specific breakpoint, using any defined value
                                    (including <code>auto</code>).
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.h-{value}</code>
                                <p class="mt-1">
                                    Sets the element height using one of the available values (including
                                    <code>auto</code>).
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.h-{value}-{breakpoint}</code>
                                <p class="mt-1">
                                    Sets the element height from a specific breakpoint, using any defined value
                                    (including <code>auto</code>).
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.min-w-{value}</code>
                                <p class="mt-1">
                                    Sets a minimum width using a percentage value.
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.min-w-{value}-{breakpoint}</code>
                                <p class="mt-1">
                                    Sets a minimum width from a specific breakpoint, using a percentage value.
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.max-w-{value}</code>
                                <p class="mt-1">
                                    Sets a maximum width using a percentage value.
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.max-w-{value}-{breakpoint}</code>
                                <p class="mt-1">
                                    Sets a maximum width from a specific breakpoint, using a percentage value.
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.min-h-{value}</code>
                                <p class="mt-1">
                                    Sets a minimum height using a percentage value.
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.min-h-{value}-{breakpoint}</code>
                                <p class="mt-1">
                                    Sets a minimum height from a specific breakpoint, using a percentage value.
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.max-h-{value}</code>
                                <p class="mt-1">
                                    Sets a maximum height using a percentage value.
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.max-h-{value}-{breakpoint}</code>
                                <p class="mt-1">
                                    Sets a maximum height from a specific breakpoint, using a percentage value.
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.vh-{value}</code>
                                <p class="mt-1">
                                    Sets the element height using a viewport height unit (<code>vh</code>).
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.vh-{value}-{breakpoint}</code>
                                <p class="mt-1">
                                    Sets the element height in <code>vh</code> from a specific breakpoint.
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.min-vh-{value}</code>
                                <p class="mt-1">
                                    Sets a minimum height in viewport units (<code>vh</code>).
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.min-vh-{value}-{breakpoint}</code>
                                <p class="mt-1">
                                    Sets a minimum viewport height from a specific breakpoint.
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.max-vh-{value}</code>
                                <p class="mt-1">
                                    Sets a maximum height in viewport units (<code>vh</code>).
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.max-vh-{value}-{breakpoint}</code>
                                <p class="mt-1">
                                    Sets a maximum viewport height from a specific breakpoint.
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.vw-{value}</code>
                                <p class="mt-1">
                                    Sets the element width using a viewport width unit (<code>vw</code>).
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.vw-{value}-{breakpoint}</code>
                                <p class="mt-1">
                                    Sets the element width in <code>vw</code> from a specific breakpoint.
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.min-vw-{value}</code>
                                <p class="mt-1">
                                    Sets a minimum width in viewport units (<code>vw</code>).
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.min-vw-{value}-{breakpoint}</code>
                                <p class="mt-1">
                                    Sets a minimum viewport width from a specific breakpoint.
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.max-vw-{value}</code>
                                <p class="mt-1">
                                    Sets a maximum width in viewport units (<code>vw</code>).
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card h-100 p-2">
                                <code class="text-bold text-primary">.max-vw-{value}-{breakpoint}</code>
                                <p class="mt-1">
                                    Sets a maximum viewport width from a specific breakpoint.
                                    <br>
                                    <span class="text-danger">The value <code>auto</code> is not supported for this utility.</span>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
