:root{
    /* Code */
    /*--bg-color-code: #212121;*/
    /*--highlight-tag-color: #9cdafa;*/
    /*--highlight-tag-name-color: #e0787b;*/
    /*--highlight-attribute-name-color: #f7cd7a;*/
    /*--highlight-attribute-value-color: #cae797;*/
    /*--highlight-text-color: #f1ffff;*/
    /*--highlight-comment-color: #616161;*/
    /*--highlight-equal-sign-color: #cae797;*/

    --container-code-bg-color: color-mix(in srgb, var(--primary-color) 10%, var(--gray-850));
    --container-code-padding: 4rem;
    --highlight-tag-color: #D4CED7;
    --highlight-tag-name-color: var(--primary-color);
    --highlight-attribute-name-color: color-mix(in srgb, var(--primary-color) 50%, var(--gray-500));
    --highlight-attribute-value-color: color-mix(in srgb, var(--primary-color) 50%, var(--gray-0));
    --highlight-text-color: #f1ffff;
    --highlight-comment-color: #86878B;
    --highlight-equal-sign-color: #D4CED7;
}

.container-code {
    padding: var(--container-code-padding);
    border-radius: var(--border-radius);
    background-color: var(--container-code-bg-color);
    position: relative;
}

.highlight-tag {color: var(--highlight-tag-color);}
.highlight-tag-name {color: var(--highlight-tag-name-color);}
.highlight-attribute-name {color: var(--highlight-attribute-name-color);}
.highlight-attribute-value {color: var(--highlight-attribute-value-color);}
.highlight-text {color: var(--highlight-text-color);}
.highlight-comment {color: var(--highlight-comment-color);}
.highlight-equal-sign {color: var(--highlight-equal-sign-color);}
.highlight-text {color: var(--highlight-text-color);}
