/* md */
@media (min-width: 76.8rem) {
    /* margin left for the main cause of the navbar aside */
    .ml-sidebar-width-md {
        margin-left: var(--sidebar-width);
    }
    /*!* showing the navbar aside in md *!*/
    .width-sidebar-md {
        width: var(--sidebar-width);
        transform: translateX(0) !important;
    }
}
