.alert-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-inline: var(--alert-container-padding-inline);
  top: 0;
  align-items: center;
}
.alert-container.top-left, .alert-container.bottom-left {
  align-items: start;
}
.alert-container.top-center, .alert-container.bottom-center {
  align-items: center;
}
.alert-container.top-right, .alert-container.bottom-right {
  align-items: end;
}
.alert-container.top-left, .alert-container.top-center, .alert-container.top-right {
  top: 0;
}
.alert-container.bottom-left, .alert-container.bottom-center, .alert-container.bottom-right {
  bottom: 0;
  top: auto;
}

.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: var(--alert-padding);
  margin: var(--alert-margin);
  border-radius: var(--alert-border-radius);
  border: var(--alert-border);
  background: var(--bg-color);
  width: var(--alert-width);
  box-shadow: var(--alert-box-shadow);
  animation: var(--alert-animation);
}
.alert .close {
  align-self: start;
  cursor: pointer;
}
