.badge-group {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: var(--badge-group-gap);
}

.badge {
  border-radius: var(--badge-border-radius);
  white-space: nowrap;
  display: inline-block;
  padding: var(--badge-padding);
}

.badge-sm {
  border-radius: var(--badge-border-radius);
  white-space: nowrap;
  display: inline-block;
  padding: var(--badge-padding-sm);
}

.badge-md {
  border-radius: var(--badge-border-radius);
  white-space: nowrap;
  display: inline-block;
  padding: var(--badge-padding-md);
}

.badge-lg {
  border-radius: var(--badge-border-radius);
  white-space: nowrap;
  display: inline-block;
  padding: var(--badge-padding-lg);
}
