.card-group {
  display: flex;
  flex-direction: column;
  gap: var(--card-group-gap);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--card-border-radius);
  border-color: var(--card-border-color);
  border-style: var(--card-border-style);
  border-width: var(--card-border-width);
  box-shadow: var(--card-box-shadow);
}
.card .card-header {
  padding: var(--card-header-padding);
}
.card .card-body {
  padding: var(--card-body-padding);
}
.card .card-footer {
  padding: var(--card-footer-padding);
}
