.dialog {
  top: 50%;
  left: 50%;
  opacity: 0;
  position: fixed;
  border-color: var(--dialog-border-color);
  border-style: var(--dialog-border-style);
  border-width: var(--dialog-border-width);
  width: var(--dialog-width);
  padding: var(--dialog-padding);
  border-radius: var(--dialog-border-radius);
  transform: translate(-50%, -50%) scale(0);
  transition: opacity 0.25s ease, transform 0.25s ease;
}
.dialog::backdrop {
  background: rgba(0, 0, 0, 0);
  transition: background 0.25s ease;
}
.dialog .dialog-header {
  padding: var(--dialog-header-padding);
}
.dialog .dialog-body {
  padding: var(--dialog-body-padding);
}
.dialog .dialog-footer {
  padding: var(--dialog-footer-padding);
}
.dialog[open].show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.dialog.show::backdrop {
  background: var(--dialog-backdrop-color);
}
