.nav-side,
.nav-side-left {
  top: 0;
  bottom: 0;
  z-index: 20;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.25s ease, transform 0.25s ease;
  background: var(--bg-color);
  width: var(--nav-side-width);
  left: 0;
  transform: translateX(-100%);
  border-right: 0.1rem solid var(--border-color);
  border-top-right-radius: var(--nav-border-radius);
  border-bottom-right-radius: var(--nav-border-radius);
}
.nav-side.show,
.nav-side-left.show {
  width: var(--nav-side-width);
  transform: translateX(0);
}

.nav-side-right {
  top: 0;
  bottom: 0;
  z-index: 20;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.25s ease, transform 0.25s ease;
  background: var(--bg-color);
  width: var(--nav-side-width);
  right: 0;
  transform: translateX(100%);
  border-left: 0.1rem solid var(--border-color);
  border-top-left-radius: var(--nav-border-radius);
  border-bottom-left-radius: var(--nav-border-radius);
}
.nav-side-right.show {
  width: var(--nav-side-width);
  transform: translateX(0);
}
