.sidebar-left {
  top: 0;
  bottom: 0;
  z-index: 20;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.25s ease, transform 0.25s ease;
  background: var(--bg-color);
  width: var(--sidebar-width);
  padding: var(--sidebar-padding);
}
.sidebar-left.show {
  width: var(--sidebar-width);
  transform: translateX(0);
}
.sidebar-left {
  left: 0;
  transform: translateX(-100%);
  border-right: var(--sidebar-border-color) var(--sidebar-border-style) var(--sidebar-border-width);
  border-top-right-radius: var(--sidebar-border-radius);
  border-bottom-right-radius: var(--sidebar-border-radius);
}

.sidebar-right {
  top: 0;
  bottom: 0;
  z-index: 20;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.25s ease, transform 0.25s ease;
  background: var(--bg-color);
  width: var(--sidebar-width);
  padding: var(--sidebar-padding);
}
.sidebar-right.show {
  width: var(--sidebar-width);
  transform: translateX(0);
}
.sidebar-right {
  left: auto;
  right: 0;
  transform: translateX(100%);
  border-left: var(--sidebar-border-color) var(--sidebar-border-style) var(--sidebar-border-width);
  border-top-left-radius: var(--sidebar-border-radius);
  border-bottom-left-radius: var(--sidebar-border-radius);
}
