table.table,
table.table-sm,
table.table-md,
table.table-lg {
  border-width: var(--table-border-width);
  border-style: var(--table-border-style);
  border-color: var(--table-border-color);
  border-collapse: collapse;
  width: 100%;
}
table.table thead tr th, table.table thead tr td,
table.table-sm thead tr th,
table.table-sm thead tr td,
table.table-md thead tr th,
table.table-md thead tr td,
table.table-lg thead tr th,
table.table-lg thead tr td {
  border-top: var(--table-border-width) var(--table-border-style) var(--table-border-color);
  padding: var(--table-padding);
  text-wrap: nowrap;
}
table.table thead.table-hover tr:hover,
table.table-sm thead.table-hover tr:hover,
table.table-md thead.table-hover tr:hover,
table.table-lg thead.table-hover tr:hover {
  cursor: pointer;
  background-color: var(--table-hover-bg-color) !important;
}
table.table tbody tr th, table.table tbody tr td,
table.table-sm tbody tr th,
table.table-sm tbody tr td,
table.table-md tbody tr th,
table.table-md tbody tr td,
table.table-lg tbody tr th,
table.table-lg tbody tr td {
  border-top: var(--table-border-width) var(--table-border-style) var(--table-border-color);
  padding: var(--table-padding);
  text-wrap: nowrap;
}
table.table tbody.table-hover tr:hover,
table.table-sm tbody.table-hover tr:hover,
table.table-md tbody.table-hover tr:hover,
table.table-lg tbody.table-hover tr:hover {
  cursor: pointer;
  background-color: var(--table-hover-bg-color) !important;
}
table.table tfoot tr th, table.table tfoot tr td,
table.table-sm tfoot tr th,
table.table-sm tfoot tr td,
table.table-md tfoot tr th,
table.table-md tfoot tr td,
table.table-lg tfoot tr th,
table.table-lg tfoot tr td {
  border-top: var(--table-border-width) var(--table-border-style) var(--table-border-color);
  padding: var(--table-padding);
  text-wrap: nowrap;
}
table.table tfoot.table-hover tr:hover,
table.table-sm tfoot.table-hover tr:hover,
table.table-md tfoot.table-hover tr:hover,
table.table-lg tfoot.table-hover tr:hover {
  cursor: pointer;
  background-color: var(--table-hover-bg-color) !important;
}
table.table.table-borderless,
table.table-sm.table-borderless,
table.table-md.table-borderless,
table.table-lg.table-borderless {
  border: none;
}
table.table.table-borderless thead tr th, table.table.table-borderless thead tr td,
table.table.table-borderless tbody tr th,
table.table.table-borderless tbody tr td,
table.table.table-borderless tfoot tr th,
table.table.table-borderless tfoot tr td,
table.table-sm.table-borderless thead tr th,
table.table-sm.table-borderless thead tr td,
table.table-sm.table-borderless tbody tr th,
table.table-sm.table-borderless tbody tr td,
table.table-sm.table-borderless tfoot tr th,
table.table-sm.table-borderless tfoot tr td,
table.table-md.table-borderless thead tr th,
table.table-md.table-borderless thead tr td,
table.table-md.table-borderless tbody tr th,
table.table-md.table-borderless tbody tr td,
table.table-md.table-borderless tfoot tr th,
table.table-md.table-borderless tfoot tr td,
table.table-lg.table-borderless thead tr th,
table.table-lg.table-borderless thead tr td,
table.table-lg.table-borderless tbody tr th,
table.table-lg.table-borderless tbody tr td,
table.table-lg.table-borderless tfoot tr th,
table.table-lg.table-borderless tfoot tr td {
  border: none;
}
table.table.table-bordered thead tr th, table.table.table-bordered thead tr td,
table.table.table-bordered tbody tr th,
table.table.table-bordered tbody tr td,
table.table.table-bordered tfoot tr th,
table.table.table-bordered tfoot tr td,
table.table-sm.table-bordered thead tr th,
table.table-sm.table-bordered thead tr td,
table.table-sm.table-bordered tbody tr th,
table.table-sm.table-bordered tbody tr td,
table.table-sm.table-bordered tfoot tr th,
table.table-sm.table-bordered tfoot tr td,
table.table-md.table-bordered thead tr th,
table.table-md.table-bordered thead tr td,
table.table-md.table-bordered tbody tr th,
table.table-md.table-bordered tbody tr td,
table.table-md.table-bordered tfoot tr th,
table.table-md.table-bordered tfoot tr td,
table.table-lg.table-bordered thead tr th,
table.table-lg.table-bordered thead tr td,
table.table-lg.table-bordered tbody tr th,
table.table-lg.table-bordered tbody tr td,
table.table-lg.table-bordered tfoot tr th,
table.table-lg.table-bordered tfoot tr td {
  border: var(--table-border-width) var(--table-border-style) var(--table-border-color);
}
table.table.table-hover thead tr:hover,
table.table.table-hover tbody tr:hover,
table.table.table-hover tfoot tr:hover,
table.table-sm.table-hover thead tr:hover,
table.table-sm.table-hover tbody tr:hover,
table.table-sm.table-hover tfoot tr:hover,
table.table-md.table-hover thead tr:hover,
table.table-md.table-hover tbody tr:hover,
table.table-md.table-hover tfoot tr:hover,
table.table-lg.table-hover thead tr:hover,
table.table-lg.table-hover tbody tr:hover,
table.table-lg.table-hover tfoot tr:hover {
  cursor: pointer;
  background-color: var(--table-hover-bg-color) !important;
}
table.table.table-striped tbody tr:nth-child(odd),
table.table-sm.table-striped tbody tr:nth-child(odd),
table.table-md.table-striped tbody tr:nth-child(odd),
table.table-lg.table-striped tbody tr:nth-child(odd) {
  background-color: var(--table-striped-bg-color);
}
table.table.table-striped-even tbody tr:nth-child(even),
table.table-sm.table-striped-even tbody tr:nth-child(even),
table.table-md.table-striped-even tbody tr:nth-child(even),
table.table-lg.table-striped-even tbody tr:nth-child(even) {
  background-color: var(--table-striped-bg-color);
}
table.table.table-striped-columns thead tr th:nth-child(odd), table.table.table-striped-columns thead tr td:nth-child(odd), table.table.table-striped-columns tbody tr th:nth-child(odd), table.table.table-striped-columns tbody tr td:nth-child(odd), table.table.table-striped-columns tfoot tr th:nth-child(odd), table.table.table-striped-columns tfoot tr td:nth-child(odd),
table.table-sm.table-striped-columns thead tr th:nth-child(odd),
table.table-sm.table-striped-columns thead tr td:nth-child(odd),
table.table-sm.table-striped-columns tbody tr th:nth-child(odd),
table.table-sm.table-striped-columns tbody tr td:nth-child(odd),
table.table-sm.table-striped-columns tfoot tr th:nth-child(odd),
table.table-sm.table-striped-columns tfoot tr td:nth-child(odd),
table.table-md.table-striped-columns thead tr th:nth-child(odd),
table.table-md.table-striped-columns thead tr td:nth-child(odd),
table.table-md.table-striped-columns tbody tr th:nth-child(odd),
table.table-md.table-striped-columns tbody tr td:nth-child(odd),
table.table-md.table-striped-columns tfoot tr th:nth-child(odd),
table.table-md.table-striped-columns tfoot tr td:nth-child(odd),
table.table-lg.table-striped-columns thead tr th:nth-child(odd),
table.table-lg.table-striped-columns thead tr td:nth-child(odd),
table.table-lg.table-striped-columns tbody tr th:nth-child(odd),
table.table-lg.table-striped-columns tbody tr td:nth-child(odd),
table.table-lg.table-striped-columns tfoot tr th:nth-child(odd),
table.table-lg.table-striped-columns tfoot tr td:nth-child(odd) {
  background-color: var(--table-striped-bg-color);
}
table.table.table-striped-columns-even thead tr th:nth-child(even), table.table.table-striped-columns-even thead tr td:nth-child(even), table.table.table-striped-columns-even tbody tr th:nth-child(even), table.table.table-striped-columns-even tbody tr td:nth-child(even), table.table.table-striped-columns-even tfoot tr th:nth-child(even), table.table.table-striped-columns-even tfoot tr td:nth-child(even),
table.table-sm.table-striped-columns-even thead tr th:nth-child(even),
table.table-sm.table-striped-columns-even thead tr td:nth-child(even),
table.table-sm.table-striped-columns-even tbody tr th:nth-child(even),
table.table-sm.table-striped-columns-even tbody tr td:nth-child(even),
table.table-sm.table-striped-columns-even tfoot tr th:nth-child(even),
table.table-sm.table-striped-columns-even tfoot tr td:nth-child(even),
table.table-md.table-striped-columns-even thead tr th:nth-child(even),
table.table-md.table-striped-columns-even thead tr td:nth-child(even),
table.table-md.table-striped-columns-even tbody tr th:nth-child(even),
table.table-md.table-striped-columns-even tbody tr td:nth-child(even),
table.table-md.table-striped-columns-even tfoot tr th:nth-child(even),
table.table-md.table-striped-columns-even tfoot tr td:nth-child(even),
table.table-lg.table-striped-columns-even thead tr th:nth-child(even),
table.table-lg.table-striped-columns-even thead tr td:nth-child(even),
table.table-lg.table-striped-columns-even tbody tr th:nth-child(even),
table.table-lg.table-striped-columns-even tbody tr td:nth-child(even),
table.table-lg.table-striped-columns-even tfoot tr th:nth-child(even),
table.table-lg.table-striped-columns-even tfoot tr td:nth-child(even) {
  background-color: var(--table-striped-bg-color);
}

table.table-sm thead tr th, table.table-sm thead tr td,
table.table-sm tbody tr th,
table.table-sm tbody tr td,
table.table-sm tfoot tr th,
table.table-sm tfoot tr td {
  padding: var(--table-padding-sm);
}

table.table-md thead tr th, table.table-md thead tr td,
table.table-md tbody tr th,
table.table-md tbody tr td,
table.table-md tfoot tr th,
table.table-md tfoot tr td {
  padding: var(--table-padding-md);
}

table.table-lg thead tr th, table.table-lg thead tr td,
table.table-lg tbody tr th,
table.table-lg tbody tr td,
table.table-lg tfoot tr th,
table.table-lg tfoot tr td {
  padding: var(--table-padding-lg);
}

.table-group-divider > tr:first-child {
  border-top: var(--table-border-divider-width) var(--table-border-divider-style) var(--table-border-divider-color);
}

.table-responsive {
  overflow-x: auto;
}
