{# templates/_flashes.html.twig #}
<div class="alert-container">
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}" role="status" aria-live="polite" data-js="alert">
                <p>{{ message }}</p>
                <button class="close btn btn-{{ type }}" aria-label="Fermer l’alerte">X</button>
            </div>
        {% endfor %}
    {% endfor %}
</div>
