<!-- navbar -->
<header class="bg-primary p-2 d-flex jc-between ai-center">
    <a href="{{ path('app_main') }}" class="fw-400 no-underline text-white">SimpleCSS</a>
    <div>
        <button class="btn btn-white d-none-md" data-js="aside" data-target="#aside">Menu</button>
        <a href="https://github.com/lau-last/SimpleCSS/archive/refs/heads/main.zip"
           class="btn btn-white"
           target="_blank">
            Download
        </a>
    </div>
</header>

