<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/simple-css.min.css') }}">
        <script src="{{ asset('js/simple-css.min.js') }}"></script>
        {% block stylesheets %}{% endblock %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% include '_aside_nav.html.twig' %}
        <main class="ml-sidebar-width-md">
            {% include '_header.html.twig' %}
            {% block body %}{% endblock %}
        </main>
        {% include '_flashes.html.twig' %}
    </body>
</html>
