/* Breakpoints */
/* Breakpoints */
/* Row container */
.row {
  display: flex;
  flex-wrap: wrap;
  /* Base style for any .col-* */
}
.row [class^=col-] {
  width: 100%;
  padding: var(--col-padding);
}
.row {
  /* Fluid column: fills remaining space */
}
.row .col {
  flex: 1 1 0;
  max-width: 100%;
  padding: var(--col-padding);
}
.row {
  /* Fixed column widths (12-grid) */
}
.row .col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}
.row .col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
.row .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.row .col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.row .col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}
.row .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.row .col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}
.row .col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}
.row .col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.row .col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}
.row .col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}
.row .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.row {
  /* Responsive column widths */
}
@media (min-width: 42.5rem) {
  .row .col-1-xs {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .row .col-2-xs {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .row .col-3-xs {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row .col-4-xs {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .row .col-5-xs {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .row .col-6-xs {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row .col-7-xs {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .row .col-8-xs {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .row .col-9-xs {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .row .col-10-xs {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .row .col-11-xs {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .row .col-12-xs {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 57.6rem) {
  .row .col-1-sm {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .row .col-2-sm {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .row .col-3-sm {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row .col-4-sm {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .row .col-5-sm {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .row .col-6-sm {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row .col-7-sm {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .row .col-8-sm {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .row .col-9-sm {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .row .col-10-sm {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .row .col-11-sm {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .row .col-12-sm {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 76.8rem) {
  .row .col-1-md {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .row .col-2-md {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .row .col-3-md {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row .col-4-md {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .row .col-5-md {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .row .col-6-md {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row .col-7-md {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .row .col-8-md {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .row .col-9-md {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .row .col-10-md {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .row .col-11-md {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .row .col-12-md {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 99.2rem) {
  .row .col-1-lg {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .row .col-2-lg {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .row .col-3-lg {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row .col-4-lg {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .row .col-5-lg {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .row .col-6-lg {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row .col-7-lg {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .row .col-8-lg {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .row .col-9-lg {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .row .col-10-lg {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .row .col-11-lg {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .row .col-12-lg {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 120rem) {
  .row .col-1-xl {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .row .col-2-xl {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .row .col-3-xl {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row .col-4-xl {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .row .col-5-xl {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .row .col-6-xl {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row .col-7-xl {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .row .col-8-xl {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .row .col-9-xl {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .row .col-10-xl {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .row .col-11-xl {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .row .col-12-xl {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 140rem) {
  .row .col-1-xxl {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .row .col-2-xxl {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .row .col-3-xxl {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row .col-4-xxl {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .row .col-5-xxl {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .row .col-6-xxl {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row .col-7-xxl {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .row .col-8-xxl {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .row .col-9-xxl {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .row .col-10-xxl {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .row .col-11-xxl {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .row .col-12-xxl {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
