/* Container */
.container {
  width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
  padding: var(--container-padding);
  max-width: var(--container-width);
}

.container-sm {
  width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
  padding: var(--container-padding);
  max-width: var(--container-width-sm);
}

.container-md {
  width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
  padding: var(--container-padding);
  max-width: var(--container-width-md);
}

.container-lg {
  width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
  padding: var(--container-padding);
  max-width: var(--container-width-lg);
}

.container-fluid {
  max-width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
  padding: var(--container-fluid-padding);
  width: var(--container-fluid-width);
}

.container-fluid-sm {
  max-width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
  padding: var(--container-fluid-padding);
  width: var(--container-fluid-width-sm);
}

.container-fluid-md {
  max-width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
  padding: var(--container-fluid-padding);
  width: var(--container-fluid-width-md);
}

.container-fluid-lg {
  max-width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
  padding: var(--container-fluid-padding);
  width: var(--container-fluid-width-lg);
}
