/* Breakpoints */
/* Direction */
.fd-row {
  flex-direction: row;
}

.fd-row-reverse {
  flex-direction: row-reverse;
}

.fd-column {
  flex-direction: column;
}

.fd-column-reverse {
  flex-direction: column-reverse;
}

/* Wrap */
.fw-wrap {
  flex-wrap: wrap;
}

.fw-nowrap {
  flex-wrap: nowrap;
}

/* Justify */
.jc-start {
  justify-content: flex-start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}

/* Align items */
.ai-start {
  align-items: flex-start;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: flex-end;
}

.ai-baseline {
  align-items: baseline;
}

/* Align content */
.ac-start {
  align-content: flex-start;
}

.ac-center {
  align-content: center;
}

.ac-end {
  align-content: flex-end;
}

.ac-between {
  align-content: space-between;
}

.ac-around {
  align-content: space-around;
}

.ac-stretch {
  align-content: stretch;
}

/* Align self */
.as-start {
  align-self: flex-start;
}

.as-center {
  align-self: center;
}

.as-end {
  align-self: flex-end;
}

/* Flex */
.flex-1-1-auto {
  flex: 1 1 auto;
}

/* ==== Responsive variants ==== */
@media (min-width: 42.5rem) {
  /* Direction */
  .fd-row-xs {
    flex-direction: row;
  }
  .fd-row-reverse-xs {
    flex-direction: row-reverse;
  }
  .fd-column-xs {
    flex-direction: column;
  }
  .fd-column-reverse-xs {
    flex-direction: column-reverse;
  }
  /* Wrap */
  .fw-wrap-xs {
    flex-wrap: wrap;
  }
  .fw-nowrap-xs {
    flex-wrap: nowrap;
  }
  /* Justify */
  .jc-start-xs {
    justify-content: flex-start;
  }
  .jc-center-xs {
    justify-content: center;
  }
  .jc-end-xs {
    justify-content: flex-end;
  }
  .jc-between-xs {
    justify-content: space-between;
  }
  .jc-around-xs {
    justify-content: space-around;
  }
  .jc-evenly-xs {
    justify-content: space-evenly;
  }
  /* Align items */
  .ai-start-xs {
    align-items: flex-start;
  }
  .ai-center-xs {
    align-items: center;
  }
  .ai-end-xs {
    align-items: flex-end;
  }
  .ai-baseline-xs {
    align-items: baseline;
  }
  /* Align content */
  .ac-start-xs {
    align-content: flex-start;
  }
  .ac-center-xs {
    align-content: center;
  }
  .ac-end-xs {
    align-content: flex-end;
  }
  .ac-between-xs {
    align-content: space-between;
  }
  .ac-around-xs {
    align-content: space-around;
  }
  .ac-stretch-xs {
    align-content: stretch;
  }
  /* Align self */
  .as-start-xs {
    align-self: flex-start;
  }
  .as-center-xs {
    align-self: center;
  }
  .as-end-xs {
    align-self: flex-end;
  }
  /* Flex */
  .flex-1-1-auto-xs {
    flex: 1 1 auto;
  }
}
@media (min-width: 57.6rem) {
  /* Direction */
  .fd-row-sm {
    flex-direction: row;
  }
  .fd-row-reverse-sm {
    flex-direction: row-reverse;
  }
  .fd-column-sm {
    flex-direction: column;
  }
  .fd-column-reverse-sm {
    flex-direction: column-reverse;
  }
  /* Wrap */
  .fw-wrap-sm {
    flex-wrap: wrap;
  }
  .fw-nowrap-sm {
    flex-wrap: nowrap;
  }
  /* Justify */
  .jc-start-sm {
    justify-content: flex-start;
  }
  .jc-center-sm {
    justify-content: center;
  }
  .jc-end-sm {
    justify-content: flex-end;
  }
  .jc-between-sm {
    justify-content: space-between;
  }
  .jc-around-sm {
    justify-content: space-around;
  }
  .jc-evenly-sm {
    justify-content: space-evenly;
  }
  /* Align items */
  .ai-start-sm {
    align-items: flex-start;
  }
  .ai-center-sm {
    align-items: center;
  }
  .ai-end-sm {
    align-items: flex-end;
  }
  .ai-baseline-sm {
    align-items: baseline;
  }
  /* Align content */
  .ac-start-sm {
    align-content: flex-start;
  }
  .ac-center-sm {
    align-content: center;
  }
  .ac-end-sm {
    align-content: flex-end;
  }
  .ac-between-sm {
    align-content: space-between;
  }
  .ac-around-sm {
    align-content: space-around;
  }
  .ac-stretch-sm {
    align-content: stretch;
  }
  /* Align self */
  .as-start-sm {
    align-self: flex-start;
  }
  .as-center-sm {
    align-self: center;
  }
  .as-end-sm {
    align-self: flex-end;
  }
  /* Flex */
  .flex-1-1-auto-sm {
    flex: 1 1 auto;
  }
}
@media (min-width: 76.8rem) {
  /* Direction */
  .fd-row-md {
    flex-direction: row;
  }
  .fd-row-reverse-md {
    flex-direction: row-reverse;
  }
  .fd-column-md {
    flex-direction: column;
  }
  .fd-column-reverse-md {
    flex-direction: column-reverse;
  }
  /* Wrap */
  .fw-wrap-md {
    flex-wrap: wrap;
  }
  .fw-nowrap-md {
    flex-wrap: nowrap;
  }
  /* Justify */
  .jc-start-md {
    justify-content: flex-start;
  }
  .jc-center-md {
    justify-content: center;
  }
  .jc-end-md {
    justify-content: flex-end;
  }
  .jc-between-md {
    justify-content: space-between;
  }
  .jc-around-md {
    justify-content: space-around;
  }
  .jc-evenly-md {
    justify-content: space-evenly;
  }
  /* Align items */
  .ai-start-md {
    align-items: flex-start;
  }
  .ai-center-md {
    align-items: center;
  }
  .ai-end-md {
    align-items: flex-end;
  }
  .ai-baseline-md {
    align-items: baseline;
  }
  /* Align content */
  .ac-start-md {
    align-content: flex-start;
  }
  .ac-center-md {
    align-content: center;
  }
  .ac-end-md {
    align-content: flex-end;
  }
  .ac-between-md {
    align-content: space-between;
  }
  .ac-around-md {
    align-content: space-around;
  }
  .ac-stretch-md {
    align-content: stretch;
  }
  /* Align self */
  .as-start-md {
    align-self: flex-start;
  }
  .as-center-md {
    align-self: center;
  }
  .as-end-md {
    align-self: flex-end;
  }
  /* Flex */
  .flex-1-1-auto-md {
    flex: 1 1 auto;
  }
}
@media (min-width: 99.2rem) {
  /* Direction */
  .fd-row-lg {
    flex-direction: row;
  }
  .fd-row-reverse-lg {
    flex-direction: row-reverse;
  }
  .fd-column-lg {
    flex-direction: column;
  }
  .fd-column-reverse-lg {
    flex-direction: column-reverse;
  }
  /* Wrap */
  .fw-wrap-lg {
    flex-wrap: wrap;
  }
  .fw-nowrap-lg {
    flex-wrap: nowrap;
  }
  /* Justify */
  .jc-start-lg {
    justify-content: flex-start;
  }
  .jc-center-lg {
    justify-content: center;
  }
  .jc-end-lg {
    justify-content: flex-end;
  }
  .jc-between-lg {
    justify-content: space-between;
  }
  .jc-around-lg {
    justify-content: space-around;
  }
  .jc-evenly-lg {
    justify-content: space-evenly;
  }
  /* Align items */
  .ai-start-lg {
    align-items: flex-start;
  }
  .ai-center-lg {
    align-items: center;
  }
  .ai-end-lg {
    align-items: flex-end;
  }
  .ai-baseline-lg {
    align-items: baseline;
  }
  /* Align content */
  .ac-start-lg {
    align-content: flex-start;
  }
  .ac-center-lg {
    align-content: center;
  }
  .ac-end-lg {
    align-content: flex-end;
  }
  .ac-between-lg {
    align-content: space-between;
  }
  .ac-around-lg {
    align-content: space-around;
  }
  .ac-stretch-lg {
    align-content: stretch;
  }
  /* Align self */
  .as-start-lg {
    align-self: flex-start;
  }
  .as-center-lg {
    align-self: center;
  }
  .as-end-lg {
    align-self: flex-end;
  }
  /* Flex */
  .flex-1-1-auto-lg {
    flex: 1 1 auto;
  }
}
@media (min-width: 120rem) {
  /* Direction */
  .fd-row-xl {
    flex-direction: row;
  }
  .fd-row-reverse-xl {
    flex-direction: row-reverse;
  }
  .fd-column-xl {
    flex-direction: column;
  }
  .fd-column-reverse-xl {
    flex-direction: column-reverse;
  }
  /* Wrap */
  .fw-wrap-xl {
    flex-wrap: wrap;
  }
  .fw-nowrap-xl {
    flex-wrap: nowrap;
  }
  /* Justify */
  .jc-start-xl {
    justify-content: flex-start;
  }
  .jc-center-xl {
    justify-content: center;
  }
  .jc-end-xl {
    justify-content: flex-end;
  }
  .jc-between-xl {
    justify-content: space-between;
  }
  .jc-around-xl {
    justify-content: space-around;
  }
  .jc-evenly-xl {
    justify-content: space-evenly;
  }
  /* Align items */
  .ai-start-xl {
    align-items: flex-start;
  }
  .ai-center-xl {
    align-items: center;
  }
  .ai-end-xl {
    align-items: flex-end;
  }
  .ai-baseline-xl {
    align-items: baseline;
  }
  /* Align content */
  .ac-start-xl {
    align-content: flex-start;
  }
  .ac-center-xl {
    align-content: center;
  }
  .ac-end-xl {
    align-content: flex-end;
  }
  .ac-between-xl {
    align-content: space-between;
  }
  .ac-around-xl {
    align-content: space-around;
  }
  .ac-stretch-xl {
    align-content: stretch;
  }
  /* Align self */
  .as-start-xl {
    align-self: flex-start;
  }
  .as-center-xl {
    align-self: center;
  }
  .as-end-xl {
    align-self: flex-end;
  }
  /* Flex */
  .flex-1-1-auto-xl {
    flex: 1 1 auto;
  }
}
@media (min-width: 140rem) {
  /* Direction */
  .fd-row-xxl {
    flex-direction: row;
  }
  .fd-row-reverse-xxl {
    flex-direction: row-reverse;
  }
  .fd-column-xxl {
    flex-direction: column;
  }
  .fd-column-reverse-xxl {
    flex-direction: column-reverse;
  }
  /* Wrap */
  .fw-wrap-xxl {
    flex-wrap: wrap;
  }
  .fw-nowrap-xxl {
    flex-wrap: nowrap;
  }
  /* Justify */
  .jc-start-xxl {
    justify-content: flex-start;
  }
  .jc-center-xxl {
    justify-content: center;
  }
  .jc-end-xxl {
    justify-content: flex-end;
  }
  .jc-between-xxl {
    justify-content: space-between;
  }
  .jc-around-xxl {
    justify-content: space-around;
  }
  .jc-evenly-xxl {
    justify-content: space-evenly;
  }
  /* Align items */
  .ai-start-xxl {
    align-items: flex-start;
  }
  .ai-center-xxl {
    align-items: center;
  }
  .ai-end-xxl {
    align-items: flex-end;
  }
  .ai-baseline-xxl {
    align-items: baseline;
  }
  /* Align content */
  .ac-start-xxl {
    align-content: flex-start;
  }
  .ac-center-xxl {
    align-content: center;
  }
  .ac-end-xxl {
    align-content: flex-end;
  }
  .ac-between-xxl {
    align-content: space-between;
  }
  .ac-around-xxl {
    align-content: space-around;
  }
  .ac-stretch-xxl {
    align-content: stretch;
  }
  /* Align self */
  .as-start-xxl {
    align-self: flex-start;
  }
  .as-center-xxl {
    align-self: center;
  }
  .as-end-xxl {
    align-self: flex-end;
  }
  /* Flex */
  .flex-1-1-auto-xxl {
    flex: 1 1 auto;
  }
}
