/* Breakpoints */
/* Breakpoints */
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-grid);
  /* Default column behavior */
  /* Common column style */
}
.grid [class^=g-col] {
  padding: var(--g-col-padding);
}
.grid .g-col,
.grid .g-col-xs,
.grid .g-col-sm,
.grid .g-col-md,
.grid .g-col-lg,
.grid .g-col-xl,
.grid .g-col-xxl {
  flex: 1 1 auto;
}
.grid .g-col-1 {
  flex: 0 0 calc(8.3333333333% - var(--gap-grid) * 0.9166666667);
}
.grid .g-col-2 {
  flex: 0 0 calc(16.6666666667% - var(--gap-grid) * 0.8333333333);
}
.grid .g-col-3 {
  flex: 0 0 calc(25% - var(--gap-grid) * 0.75);
}
.grid .g-col-4 {
  flex: 0 0 calc(33.3333333333% - var(--gap-grid) * 0.6666666667);
}
.grid .g-col-5 {
  flex: 0 0 calc(41.6666666667% - var(--gap-grid) * 0.5833333333);
}
.grid .g-col-6 {
  flex: 0 0 calc(50% - var(--gap-grid) * 0.5);
}
.grid .g-col-7 {
  flex: 0 0 calc(58.3333333333% - var(--gap-grid) * 0.4166666667);
}
.grid .g-col-8 {
  flex: 0 0 calc(66.6666666667% - var(--gap-grid) * 0.3333333333);
}
.grid .g-col-9 {
  flex: 0 0 calc(75% - var(--gap-grid) * 0.25);
}
.grid .g-col-10 {
  flex: 0 0 calc(83.3333333333% - var(--gap-grid) * 0.1666666667);
}
.grid .g-col-11 {
  flex: 0 0 calc(91.6666666667% - var(--gap-grid) * 0.0833333333);
}
.grid .g-col-12 {
  flex: 0 0 calc(100% - var(--gap-grid) * 0);
}
@media (min-width: 42.5rem) {
  .grid .g-col-1-xs {
    flex: 0 0 calc(8.3333333333% - var(--gap-grid) * 0.9166666667);
  }
  .grid .g-col-2-xs {
    flex: 0 0 calc(16.6666666667% - var(--gap-grid) * 0.8333333333);
  }
  .grid .g-col-3-xs {
    flex: 0 0 calc(25% - var(--gap-grid) * 0.75);
  }
  .grid .g-col-4-xs {
    flex: 0 0 calc(33.3333333333% - var(--gap-grid) * 0.6666666667);
  }
  .grid .g-col-5-xs {
    flex: 0 0 calc(41.6666666667% - var(--gap-grid) * 0.5833333333);
  }
  .grid .g-col-6-xs {
    flex: 0 0 calc(50% - var(--gap-grid) * 0.5);
  }
  .grid .g-col-7-xs {
    flex: 0 0 calc(58.3333333333% - var(--gap-grid) * 0.4166666667);
  }
  .grid .g-col-8-xs {
    flex: 0 0 calc(66.6666666667% - var(--gap-grid) * 0.3333333333);
  }
  .grid .g-col-9-xs {
    flex: 0 0 calc(75% - var(--gap-grid) * 0.25);
  }
  .grid .g-col-10-xs {
    flex: 0 0 calc(83.3333333333% - var(--gap-grid) * 0.1666666667);
  }
  .grid .g-col-11-xs {
    flex: 0 0 calc(91.6666666667% - var(--gap-grid) * 0.0833333333);
  }
  .grid .g-col-12-xs {
    flex: 0 0 calc(100% - var(--gap-grid) * 0);
  }
}
@media (min-width: 57.6rem) {
  .grid .g-col-1-sm {
    flex: 0 0 calc(8.3333333333% - var(--gap-grid) * 0.9166666667);
  }
  .grid .g-col-2-sm {
    flex: 0 0 calc(16.6666666667% - var(--gap-grid) * 0.8333333333);
  }
  .grid .g-col-3-sm {
    flex: 0 0 calc(25% - var(--gap-grid) * 0.75);
  }
  .grid .g-col-4-sm {
    flex: 0 0 calc(33.3333333333% - var(--gap-grid) * 0.6666666667);
  }
  .grid .g-col-5-sm {
    flex: 0 0 calc(41.6666666667% - var(--gap-grid) * 0.5833333333);
  }
  .grid .g-col-6-sm {
    flex: 0 0 calc(50% - var(--gap-grid) * 0.5);
  }
  .grid .g-col-7-sm {
    flex: 0 0 calc(58.3333333333% - var(--gap-grid) * 0.4166666667);
  }
  .grid .g-col-8-sm {
    flex: 0 0 calc(66.6666666667% - var(--gap-grid) * 0.3333333333);
  }
  .grid .g-col-9-sm {
    flex: 0 0 calc(75% - var(--gap-grid) * 0.25);
  }
  .grid .g-col-10-sm {
    flex: 0 0 calc(83.3333333333% - var(--gap-grid) * 0.1666666667);
  }
  .grid .g-col-11-sm {
    flex: 0 0 calc(91.6666666667% - var(--gap-grid) * 0.0833333333);
  }
  .grid .g-col-12-sm {
    flex: 0 0 calc(100% - var(--gap-grid) * 0);
  }
}
@media (min-width: 76.8rem) {
  .grid .g-col-1-md {
    flex: 0 0 calc(8.3333333333% - var(--gap-grid) * 0.9166666667);
  }
  .grid .g-col-2-md {
    flex: 0 0 calc(16.6666666667% - var(--gap-grid) * 0.8333333333);
  }
  .grid .g-col-3-md {
    flex: 0 0 calc(25% - var(--gap-grid) * 0.75);
  }
  .grid .g-col-4-md {
    flex: 0 0 calc(33.3333333333% - var(--gap-grid) * 0.6666666667);
  }
  .grid .g-col-5-md {
    flex: 0 0 calc(41.6666666667% - var(--gap-grid) * 0.5833333333);
  }
  .grid .g-col-6-md {
    flex: 0 0 calc(50% - var(--gap-grid) * 0.5);
  }
  .grid .g-col-7-md {
    flex: 0 0 calc(58.3333333333% - var(--gap-grid) * 0.4166666667);
  }
  .grid .g-col-8-md {
    flex: 0 0 calc(66.6666666667% - var(--gap-grid) * 0.3333333333);
  }
  .grid .g-col-9-md {
    flex: 0 0 calc(75% - var(--gap-grid) * 0.25);
  }
  .grid .g-col-10-md {
    flex: 0 0 calc(83.3333333333% - var(--gap-grid) * 0.1666666667);
  }
  .grid .g-col-11-md {
    flex: 0 0 calc(91.6666666667% - var(--gap-grid) * 0.0833333333);
  }
  .grid .g-col-12-md {
    flex: 0 0 calc(100% - var(--gap-grid) * 0);
  }
}
@media (min-width: 99.2rem) {
  .grid .g-col-1-lg {
    flex: 0 0 calc(8.3333333333% - var(--gap-grid) * 0.9166666667);
  }
  .grid .g-col-2-lg {
    flex: 0 0 calc(16.6666666667% - var(--gap-grid) * 0.8333333333);
  }
  .grid .g-col-3-lg {
    flex: 0 0 calc(25% - var(--gap-grid) * 0.75);
  }
  .grid .g-col-4-lg {
    flex: 0 0 calc(33.3333333333% - var(--gap-grid) * 0.6666666667);
  }
  .grid .g-col-5-lg {
    flex: 0 0 calc(41.6666666667% - var(--gap-grid) * 0.5833333333);
  }
  .grid .g-col-6-lg {
    flex: 0 0 calc(50% - var(--gap-grid) * 0.5);
  }
  .grid .g-col-7-lg {
    flex: 0 0 calc(58.3333333333% - var(--gap-grid) * 0.4166666667);
  }
  .grid .g-col-8-lg {
    flex: 0 0 calc(66.6666666667% - var(--gap-grid) * 0.3333333333);
  }
  .grid .g-col-9-lg {
    flex: 0 0 calc(75% - var(--gap-grid) * 0.25);
  }
  .grid .g-col-10-lg {
    flex: 0 0 calc(83.3333333333% - var(--gap-grid) * 0.1666666667);
  }
  .grid .g-col-11-lg {
    flex: 0 0 calc(91.6666666667% - var(--gap-grid) * 0.0833333333);
  }
  .grid .g-col-12-lg {
    flex: 0 0 calc(100% - var(--gap-grid) * 0);
  }
}
@media (min-width: 120rem) {
  .grid .g-col-1-xl {
    flex: 0 0 calc(8.3333333333% - var(--gap-grid) * 0.9166666667);
  }
  .grid .g-col-2-xl {
    flex: 0 0 calc(16.6666666667% - var(--gap-grid) * 0.8333333333);
  }
  .grid .g-col-3-xl {
    flex: 0 0 calc(25% - var(--gap-grid) * 0.75);
  }
  .grid .g-col-4-xl {
    flex: 0 0 calc(33.3333333333% - var(--gap-grid) * 0.6666666667);
  }
  .grid .g-col-5-xl {
    flex: 0 0 calc(41.6666666667% - var(--gap-grid) * 0.5833333333);
  }
  .grid .g-col-6-xl {
    flex: 0 0 calc(50% - var(--gap-grid) * 0.5);
  }
  .grid .g-col-7-xl {
    flex: 0 0 calc(58.3333333333% - var(--gap-grid) * 0.4166666667);
  }
  .grid .g-col-8-xl {
    flex: 0 0 calc(66.6666666667% - var(--gap-grid) * 0.3333333333);
  }
  .grid .g-col-9-xl {
    flex: 0 0 calc(75% - var(--gap-grid) * 0.25);
  }
  .grid .g-col-10-xl {
    flex: 0 0 calc(83.3333333333% - var(--gap-grid) * 0.1666666667);
  }
  .grid .g-col-11-xl {
    flex: 0 0 calc(91.6666666667% - var(--gap-grid) * 0.0833333333);
  }
  .grid .g-col-12-xl {
    flex: 0 0 calc(100% - var(--gap-grid) * 0);
  }
}
@media (min-width: 140rem) {
  .grid .g-col-1-xxl {
    flex: 0 0 calc(8.3333333333% - var(--gap-grid) * 0.9166666667);
  }
  .grid .g-col-2-xxl {
    flex: 0 0 calc(16.6666666667% - var(--gap-grid) * 0.8333333333);
  }
  .grid .g-col-3-xxl {
    flex: 0 0 calc(25% - var(--gap-grid) * 0.75);
  }
  .grid .g-col-4-xxl {
    flex: 0 0 calc(33.3333333333% - var(--gap-grid) * 0.6666666667);
  }
  .grid .g-col-5-xxl {
    flex: 0 0 calc(41.6666666667% - var(--gap-grid) * 0.5833333333);
  }
  .grid .g-col-6-xxl {
    flex: 0 0 calc(50% - var(--gap-grid) * 0.5);
  }
  .grid .g-col-7-xxl {
    flex: 0 0 calc(58.3333333333% - var(--gap-grid) * 0.4166666667);
  }
  .grid .g-col-8-xxl {
    flex: 0 0 calc(66.6666666667% - var(--gap-grid) * 0.3333333333);
  }
  .grid .g-col-9-xxl {
    flex: 0 0 calc(75% - var(--gap-grid) * 0.25);
  }
  .grid .g-col-10-xxl {
    flex: 0 0 calc(83.3333333333% - var(--gap-grid) * 0.1666666667);
  }
  .grid .g-col-11-xxl {
    flex: 0 0 calc(91.6666666667% - var(--gap-grid) * 0.0833333333);
  }
  .grid .g-col-12-xxl {
    flex: 0 0 calc(100% - var(--gap-grid) * 0);
  }
}
