{% extends 'base.html.twig' %}

{% block title %}Hello DropdownNativeController!{% endblock %}

{% block body %}
    <div class="container-sm">
        <div class="d-flex fd-column gap-5">

            {# Intro #}
            <article class="card p-2">
                <div class="card-header d-flex ai-baseline">
                    <h2>⬇️ Dropdown native</h2>
                    <span class="ml-1">(Without JavaScript)</span>
                </div>
            </article>

            {# Examples #}
            <article class="card p-2">
                <div class="card-header">
                    <h2>💠 Examples</h2>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-12 col-4-md">
                            <article class="card p-2">
                                <div class="card-body d-flex jc-center ai-center">
                                    <details class="dropdown-native">
                                        <summary class="btn btn-primary">
                                            bottom left
                                        </summary>
                                        <div class="dropdown-body bottom left">
                                            <ul class="list list-hover">
                                                <li class="list-item"><a class="list-link" href="#">Dropdown bottom left menu</a></li>
                                                <li class="list-item"><a class="list-link" href="#">Dropdown bottom left menu</a></li>
                                                <li class="list-item"><a class="list-link" href="#">Dropdown bottom left menu</a></li>
                                            </ul>
                                        </div>
                                    </details>
                                </div>
                            </article>
                        </div>

                        <div class="col-12 col-4-md">
                            <article class="card p-2">
                                <div class="card-body d-flex jc-center ai-center">
                                    <details class="dropdown-native">
                                        <summary class="btn btn-primary">
                                            bottom center
                                        </summary>
                                        <div class="dropdown-body bottom center">
                                            <ul class="list list-hover">
                                                <li class="list-item"><a class="list-link" href="#">Dropdown bottom center menu</a></li>
                                                <li class="list-item"><a class="list-link" href="#">Dropdown bottom center menu</a></li>
                                                <li class="list-item"><a class="list-link" href="#">Dropdown bottom center menu</a></li>
                                            </ul>
                                        </div>
                                    </details>
                                </div>
                            </article>
                        </div>

                        <div class="col-12 col-4-md">
                            <article class="card p-2">
                                <div class="card-body d-flex jc-center ai-center">
                                    <details class="dropdown-native">
                                        <summary class="btn btn-primary">
                                            bottom right
                                        </summary>
                                        <div class="dropdown-body bottom right">
                                            <ul class="list list-hover">
                                                <li class="list-item"><a class="list-link" href="#">Dropdown bottom right menu</a></li>
                                                <li class="list-item"><a class="list-link" href="#">Dropdown bottom right menu</a></li>
                                                <li class="list-item"><a class="list-link" href="#">Dropdown bottom right menu</a></li>
                                            </ul>
                                        </div>
                                    </details>
                                </div>
                            </article>
                        </div>

                        <div class="col-12 col-4-md">
                            <article class="card p-2">
                                <div class="card-body d-flex jc-center ai-center">
                                    <details class="dropdown-native">
                                        <summary class="btn btn-primary">
                                            top left
                                        </summary>
                                        <div class="dropdown-body top left">
                                            <ul class="list list-hover">
                                                <li class="list-item"><a class="list-link" href="#">Dropdown top left menu</a></li>
                                                <li class="list-item"><a class="list-link" href="#">Dropdown top left menu</a></li>
                                                <li class="list-item"><a class="list-link" href="#">Dropdown top left menu</a></li>
                                            </ul>
                                        </div>
                                    </details>
                                </div>
                            </article>
                        </div>

                        <div class="col-12 col-4-md">
                            <article class="card p-2">
                                <div class="card-body d-flex jc-center ai-center">
                                    <details class="dropdown-native">
                                        <summary class="btn btn-primary">
                                            top center
                                        </summary>
                                        <div class="dropdown-body top center">
                                            <ul class="list list-hover">
                                                <li class="list-item"><a class="list-link" href="#">Dropdown top center menu</a></li>
                                                <li class="list-item"><a class="list-link" href="#">Dropdown top center menu</a></li>
                                                <li class="list-item"><a class="list-link" href="#">Dropdown top center menu</a></li>
                                            </ul>
                                        </div>
                                    </details>
                                </div>
                            </article>
                        </div>

                        <div class="col-12 col-4-md">
                            <article class="card p-2">
                                <div class="card-body d-flex jc-center ai-center">
                                    <details class="dropdown-native">
                                        <summary class="btn btn-primary">
                                            top right
                                        </summary>
                                        <div class="dropdown-body top right">
                                            <ul class="list list-hover">
                                                <li class="list-item"><a class="list-link" href="#">Dropdown top right menu</a></li>
                                                <li class="list-item"><a class="list-link" href="#">Dropdown top right menu</a></li>
                                                <li class="list-item"><a class="list-link" href="#">Dropdown top right menu</a></li>
                                            </ul>
                                        </div>
                                    </details>
                                </div>
                            </article>
                        </div>

                        <div class="col-12 col-4-md">
                            <article class="card p-2">
                                <div class="card-body d-flex jc-center ai-center">
                                    <details class="dropdown-native">
                                        <summary class="btn btn-primary">
                                            side left
                                        </summary>
                                        <div class="dropdown-body side-left">
                                            <ul class="list list-hover">
                                                <li class="list-item"><a class="list-link" href="#">Dropdown side left menu</a></li>
                                                <li class="list-item"><a class="list-link" href="#">Dropdown side left menu</a></li>
                                                <li class="list-item"><a class="list-link" href="#">Dropdown side left menu</a></li>
                                            </ul>
                                        </div>
                                    </details>
                                </div>
                            </article>
                        </div>

                        <div class="col-12 col-4-md">
                            <article class="card p-2">
                                <div class="card-body d-flex jc-center ai-center">
                                    <details class="dropdown-native">
                                        <summary class="btn btn-primary">
                                            side right
                                        </summary>
                                        <div class="dropdown-body side-right">
                                            <ul class="list list-hover">
                                                <li class="list-item"><a class="list-link" href="#">Dropdown side right menu</a></li>
                                                <li class="list-item"><a class="list-link" href="#">Dropdown side right menu</a></li>
                                                <li class="list-item"><a class="list-link" href="#">Dropdown side right menu</a></li>
                                            </ul>
                                        </div>
                                    </details>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </article>

            {# HTML Code #}
            <div class="card p-2">
                <div class="card-header">
                    <h2>💻 HTML Code</h2>
                </div>
                <div class="card-body">
                    <div class="position-relative">
                        <button class="btn btn-primary position-top-right z-1 mt-1 mr-1"
                                onclick="copyCode('code-dropdown-native', this);">Copy
                        </button>
                        <div data-js="code" id="code-dropdown-native" class="container-code overflow-auto">
                            <details class="dropdown-native">
                                <summary class="btn btn-primary">
                                    Dropdown
                                </summary>
                                <div class="dropdown-body">
                                    <ul class="list list-hover">
                                        <li class="list-item"><a class="list-link" href="#">Dropdown menu</a></li>
                                        <li class="list-item"><a class="list-link" href="#">Dropdown menu</a></li>
                                        <li class="list-item"><a class="list-link" href="#">Dropdown menu</a></li>
                                    </ul>
                                </div>
                            </details>
                        </div>
                    </div>
                </div>
            </div>

            {# Positioning #}
            <article class="card p-2">
                <div class="card-header">
                    <h2>📍 Positioning</h2>
                </div>
                <div class="card-body">
                    <p class="p-1">
                        Add position classes directly on the <code class="text-bold text-primary">.dropdown-menu</code> to control where it appears.
                        If no position class is added, the menu defaults to
                        <code class="text-bold text-primary">.bottom</code> and
                        <code class="text-bold text-primary">.left</code>.
                    </p>

                    <div class="row mt-2">
                        <div class="col-12 col-4-xs">
                            <div class="card p-2"><code class="text-bold text-primary">.left</code></div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card p-2"><code class="text-bold text-primary">.center</code></div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card p-2"><code class="text-bold text-primary">.right</code></div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card p-2"><code class="text-bold text-primary">.top</code></div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card p-2"><code class="text-bold text-primary">.bottom</code></div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card p-2"><code class="text-bold text-primary">.side-left</code></div>
                        </div>

                        <div class="col-12 col-4-xs">
                            <div class="card p-2"><code class="text-bold text-primary">.side-right</code></div>
                        </div>
                    </div>
                </div>
            </article>

            {# Sizes & Colors #}
            <article class="card p-2">
                <div class="card-header">
                    <h2>🎨 Sizes & Colors</h2>
                </div>
                <div class="card-body">
                    <p class="p-1">
                        Dropdown buttons use the same size and color classes as regular buttons.
                        Refer to the <code class="text-bold text-primary">Button</code> page for all available variants.
                    </p>
                </div>
            </article>

            {# Variables #}
            <div class="card p-2">
                <div class="card-header">
                    <h2>⚙️ Variables CSS</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr class="text-left">
                                <th>Variable</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td><code class="text-bold text-primary">--dropdown-body-box-shadow</code></td>
                                <td>Shadow applied to the dropdown body.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--dropdown-body-min-width</code></td>
                                <td>Minimum width of the dropdown body.</td>
                            </tr>

                            <tr>
                                <td><code class="text-bold text-primary">--dropdown-body-spacing-margin</code></td>
                                <td>Margin used to create spacing around the dropdown body.</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
